[2018-03-30 15:26] dub357 commented on #3487
I have this same problem and I'd like to up-vote this issue if possible.  Using 0.12.4 and --header-html works great (I have `<!doctype html>` but when I specify any footer arguments that should give you simple text (--footer-left, --footer-right, etc), no footer is displayed.  The only way I can display a footer is by using --footer-html

[2018-03-30 16:03] dub357 commented on #2796
Check this out...apparently the issue is related to margins:

https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3064

[2018-03-30 16:31] PhilterPaper commented on #3866
In your file in.html, how does the mu (Greek letter) show up? Is it an HTML entity or is it a native UTF-8 character (or even, Latin-1)? If you have a line with "The concentration is 5 micrograms/milliliter.", you're saying that it always splits the line right _before_ (your message text) or _after_ (your subject line) the mu, regardless of how long the line is? Any difference if you use an ordina

[2018-03-30 17:29] Qasim333 commented on #2202
I have the same issue, Here it is the HTML view
![html](https://user-images.githubusercontent.com/12516813/38146846-30be96fc-3469-11e8-9039-4dcc118114b4.PNG)

PDF File View
![pdf](https://user-images.githubusercontent.com/12516813/38146878-572682fa-3469-11e8-8878-5ce15fe3eeca.PNG)

Here it is the difference in the view after @ashkulz solution,

![afterwrapit](https://user-images.githubusercontent.

[2018-03-31 16:18] andre-ss6 commented on #2782
So I think I've managed to solve this issue. The problem is with a compatibility option with IIS 6 that comes turned on by default. In your Application Pool's configuration, under Process Model, there's an option "Load User Profile". It comes as False by default (even though it displays in black when "False", which seems to indicate it is not in its default state). If you set it as true, you'll be

[2018-04-01 23:38] amanda-garceau commented on #3613
+1

[2018-04-02 03:16] bbhorse opened #3868 "How to deal with cors access？"
I have a local html，in html an ajax request need to access other server , i use wkhtmltopdf, but it's not work(because the cors.) , i need some help , thanks!

[2018-04-03 09:01] goodchenwei90 opened #3869 "html Too many PNG files，process hung up"
error message:
Loading pages (1/6)
==============>                                            ] 25%

then no response。

OS:SUSE Linux  Enterprise Server 11 SP3 64

[2018-04-03 09:06] wthinkit commented on #1564
Hi, All
As this feature is hardly added, I think there is always way to find solution, my solution is generate  both the specific pages  and common pages with '--read-args-from-stdin', then use some libs such as [pdfsharp](http://pdfsharp.net/MainPage.ashx)(on .NET platform) to concatenate all pages.
That work as a charm.
Hope can help.

[2018-04-03 09:52] sathi5a0 opened #3870 "Option to cover watermark or background image in all pages."
Hi.
Is there any option to cover watermark or background image ever page of converted pdf, where given background image should be present in all the pages.

version : wkhtmltopdf 0.12.2.4 (with patched qt)
OS : Windows 10

It would be appreciated for your help
Thanks.

[2018-04-03 14:51] metalshark commented on #3870
Am currently using PDFTK to achieve this with the stamp tool after generating the PDF.

[2018-04-04 10:56] tariq021 opened #3871 "CSS is not affecting generated PDF"
I am using **OS: Ubuntu 16.04**. I have integrated this package in my laravel application. PDF is generating but no CSS affect on this generated file.

In **OS: windows**, Everything is working perfectly.

Here is original view

![screenshot-2018-4-4 industrial sourcing 4 0 with valeroo](https://user-images.githubusercontent.com/31202488/38303690-452a429a-37f6-11e8-8b23-b3ed1b166c4c.png)

Here is

[2018-04-04 13:24] nikkostikis commented on #2721
I still can't get this to work. I am trying to print this page:

[http://users.uom.gr/~nkostikis/overview/3.html](http://users.uom.gr/~nkostikis/overview/3.html)

which contains a simple chart (version 2 of chart js) using the command:

wkhtmltopdf --enable-javascript --javascript-delay 10000 --no-stop-slow-scripts --debug-javascript http://users.uom.gr/~nkostikis/overview/3.html tool303.pdf

Incr

[2018-04-04 13:25] mikehaertl commented on #3739
I have the same issue. It definitely is not a problem of the path. It throws the same error message, even if the full path name is provided. And yes, the file exists and is executable.

[2018-04-04 13:28] mikehaertl commented on #3265
I have the same issue. @ashkulz Would you consider reopening this issue? It seems to affect many developers and so far we don't have a solution. It seems the precompiled wkhtmltopdf binaries don't work on Alpine.

The error message is pretty weird and misleading though. Could it be some missing library?

[2018-04-04 13:50] mikehaertl commented on #3739
Ok, here's an update. The problem is, that Alpine does not support GNU libc. More details can be found in this issue: https://github.com/gliderlabs/docker-alpine/issues/219

So the hard truth is: No wkhtmltopdf on Alpine for now, at least no easy way.

[2018-04-04 13:51] mikehaertl commented on #3265
Ok, see #3739: Alpine does not support GNU libc. So the precompiled binaries will not work. Also see https://github.com/gliderlabs/docker-alpine/issues/219

[2018-04-04 14:33] tariq021 commented on #3871
I get the solution. CSS was affecting but color and background-color were not affecting the PDF.
Just making all `color` and `background-color` properties `!important `works.

`p { color:grey !important; }`

Solved!

[2018-04-04 14:33] #3871 closed

[2018-04-04 18:37] kle622 commented on #1524
@shaikyasin755 Thanks for the workaround! Worked for my team.

[2018-04-04 18:59] caioproiete commented on #1524
This is the CSS workaround that worked for me:

[code]

[2018-04-05 02:05] mewalig commented on #2721
Not sure if this is related, but in my experience, using --window-status is always far better than using --javascript-delay. Using delay, you have to hardcode an arbitrary value and you end up either a) setting the delay to too short of a time-- and therefore the subsequent action fails, or b) setting it to an unnecessarily long time. And worse, the optimal value changes every single time the code

[2018-04-05 02:06] mewalig commented on #2721
And btw thanks everyone for your helpful responses!

[2018-04-05 03:31] cornernote commented on #3001
I am running inside docker PHP docker containers, and I just can't seem to get Debian 9 to work.

On Debian 9 - has an issue

[code]

I installed/tested it using the following:

[code]

On Debian 8 - works fine

[code]

[2018-04-05 14:22] lmanuel-exa opened #3872 "Doesn't working with centos 7.4.1708 (version used 0.12.4)"
Hello,

I have a problem wkhtml doesn't working with Centos 7.4.1708. I think that it's the openssl version the problem.
When I execute this command on Centos 7.2.1511 (openssl 1.0.1e) it's working:
  wkhtmltoimage http://google.com google.jpg
  Loading page (1/2)
  Rendering (2/2)
  Done

but when I execute this command on Centos 7.4.1708 (openssl 1.0.2k) doesn't working:
  wkhtmltoimage http://g

[2018-04-06 07:59] Staormin commented on #3001
For anyone who still have this issue, for whatever reason disabling ipv6 support fixed it for me.
[code]
Some lib versions:

[code]

[2018-04-06 08:13] TerjeBr commented on #3001
The root of this issue needs to be fixed in wkhtmltopdf, instead of all these workarounds.

@Azaret said in comment https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3001#issuecomment-322197351 :

Then in the middle of December 2017 Qt 5.10 was relased.

Now 4 months later this issue has still not been resolved by anyone that knows wkhtmltopdf well enough to know how to switch the Qt version it de

[2018-04-06 13:09] hakimio commented on #3872
Install older version of openssl which works with wkhtmltopdf?

[2018-04-06 13:10] hakimio commented on #3872
Older bug report: https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3001

[2018-04-06 13:11] hakimio commented on #3868
Enable CORS in your server? That's not exactly wkhtmltopdf bug.

[2018-04-06 13:12] hakimio commented on #3867
Latest version of wkhtmltopdf should work without xvfb.

[2018-04-06 13:14] hakimio commented on #3865
Latest release works without it.

[2018-04-06 13:17] hakimio commented on #3852
Maybe you should open bug report in appropriate repository? jsreport/jsreport-wkhtmltopdf?

[2018-04-06 16:09] PhilterPaper commented on #3865
Does a Windows build _not_ require an X server, and a Linux/Unix build _does_? Perhaps there is something in a *nix library that assumes an X server (something common in the *nix universe), and might be coded around. At least, let's get straight on which builds require an X server and which don't.

[2018-04-06 17:42] hakimio commented on #3865
Version 0.12.4 works on linux without X server. I don't think windows version ever needed X server to run.

[2018-04-07 08:04] Vegekku commented on #2855
@michaelmafort solution help me! Run in Symfony 3.4 with wkhtmltopdf 0.12.4.

[2018-04-09 06:47] Hund commented on #3567
This sucks. :(

[2018-04-09 08:04] macintoshplus commented on #3849
Howto build the package ?
Howto build the headless version ?

[2018-04-09 08:12] macintoshplus opened #3873 "Help for realease new version"
Hi @ashkulz

I need wkhtmltopdf for debian 9 server with the headless option.

Actualy I use the version 0.12.1 but I cannot build the new version with the new jpeg and png library.
I have already work with Qt, C, C++ project and I have Linux Debian, Ubuntu and Windows environments for build if necessary.

Can you add me to the wkhtmltopdf org for help you to realease a new version working in the

[2018-04-09 10:07] KrullBorg commented on #3867
i found in wkhtmltopdf help that QT must be built with wkhtmltopdf patches; and in debian it's not

[2018-04-09 13:01] macintoshplus commented on #3865
I have the same problem, unable to run the wkhtmltopdf without X server on linux.

How To build without X server dependency ?

[2018-04-09 13:09] hakimio commented on #3865
@macintoshplus Just use prebuilt binary releases.

[2018-04-09 13:27] macintoshplus commented on #3865
Thanks, but I cannot install the package into debian 9. If possible, I prefer build a new version with the new library version.

The version with Qt5 do not have the patch for remove X11 dependency. But where is it?

If I use the X11 server, the generated PDF have the background and I cannot use it for stamp another PDF.

[2018-04-09 13:44] hakimio commented on #3865
@macintoshplus
If you are not happy with the latest stable version on the [release page](https://github.com/wkhtmltopdf/wkhtmltopdf/releases), use the build instructions in [INSTALL](https://github.com/wkhtmltopdf/wkhtmltopdf/blob/master/INSTALL.md) file to compile the latest dev version.

[2018-04-09 14:02] strk commented on #3865
I'm using prebuilt binary releases (apt-get install wkhtmltopdf
in an Ubuntu 17.10 system) but they still have the dependency.

[2018-04-09 15:10] macintoshplus commented on #3865
@hakimio Thanks for your help for me.
How many time the static build can work without update need? This question is over the project status. No new version or news since two year, it's a long time and is not easy to replace an tool using in production.
If necessary, I can help but without the project manager it'is hard!

[2018-04-09 15:14] macintoshplus commented on #3865
@strk The prebuild is not into your distribution. You can drop the integrated build with the dependencies. Go to here: https://wkhtmltopdf.org/downloads.html
Download the version 32 or 64 bit and copy the content of the archive in your projet (or where you want).
For use it, call the binary with the full path.

[2018-04-09 15:16] hakimio commented on #3865
@strk That's because it's an old version in the ubuntu 17.10 repository. Use the the build available here on github.

[2018-04-09 19:08] jnellen-vp commented on #3072
+1, I'm looking for watermark support as well.

[2018-04-10 01:55] scfcode commented on #3850
Especially one with the Mac regression ( https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3241 ) fixed please.

[2018-04-10 08:00] Arvin-He commented on #3635
It will be very nice to have this feature.

[2018-04-10 16:04] rodriguezmilton commented on #2427
Hi there!
Same here. I'm using the given options to configure the footer from NodeJs. I tried with a custom footer, but I got other errors.
I'm using `footerLeft: 'Página [page]',` and it gets translated to `"Pgina 1"`
The entire page may contain Spanish texts and it works well, because of the `<meta charset=UTF-8">`.

Any ideas?

[2018-04-11 03:48] unlessbamboo commented on #2367
@Mathlight  if the table construct is:
<table>
<thead>...</thead>
<tbody>
  <tr>
     <td>
         <div>
           <table>Actual content is here, many lines and may be split into different pages</table>
           <table></table>
           ...
         </div>
      </td>
    </tr>
</tbody>
</table>

At this situation, CSS style may be :

`
        thead { display: table-row-group;}
        tfoo

[2018-04-11 06:09] lizhi1989 opened #3874 "High CPU and no PDF generated"
When generating a html page from URL, which contain graph (highchart library), wkhtmltopdf is consuming nearly 100% CPU and is not generating the PDF. I have to kill it.
How to troubleshot?

[2018-04-11 13:25] NufarM opened #3875 "Syriac letters are looks wrong"
I have an HTML file written in **syriac** language.
In the conversion to PDF some of the letters are looks incorrect (few are not connected to each other)
Is there a way for it to look correct like the original (like in the HTML file) ?

[Syriac.zip](https://github.com/wkhtmltopdf/wkhtmltopdf/files/1898970/Syriac.zip)

[2018-04-11 14:38] wissem commented on #1707
I'm trying to build current master, but I have the same issue on Debian Stretch . Anyone found a workaround for this?

[2018-04-11 16:39] PhilterPaper commented on #3875
Syriac is an Arabic-family script-style alphabet (i.e., characters join to each other, among other characteristics). This calls for some fairly complex instructions in the font -- are you sure that you're using the same TrueType font for both HTML and PDF? If you're using different ones, it's possible that the one used by wkHTMLtoPDF is a simpler (less capable) version. If they're the same, perhap

[2018-04-12 04:59] miten5 opened #3876 "I want to open generated PDF open in web browser"
Hello,

Is there any option to open generated pdf in browser because when i open generated pdf in browser it automatically download file.

Thanks.

[2018-04-12 06:00] #3876 closed

[2018-04-13 06:02] Mellnik commented on #3296
Same problem here.

[2018-04-13 14:45] Jbz797 commented on #3476
Same here.

[2018-04-14 11:56] jigarpancholi opened #3877 "Image is not displayed in server"
I have created a pdf file. In local, it is working properly and image is displayed in pdf. But in server image is not displayed. I have checked image path and it is perfect. I have attached screen shot which shows ```Warning: Failed to load 'image_path' (ignore)```.

Absolute path is like 'https://example.com/app/img/xyz.jpg'.
![question](https://user-images.githubusercontent.com/17808105/38768027

[2018-04-14 19:09] julego commented on #3476
Should be fixed by PR #3878

[2018-04-16 07:37] mediatomcat opened #3879 "Images randomly not loading"
Hi,

I am running wkhtmltopdf on a Centos 6 server with PHP 5.6.  The PHP page I am calling is a page made up of multiple images in a table format.  There is some code that will change the image of certain cells.

The bizarre thing is that the PDF is often missing one or two random images from the document.  Each PDF document is a approximately 5 pages long.  The images that are missing are never

[2018-04-16 10:49] alankarglobant opened #3880 "Page background,"
How to set the background to each page of pdf like a watermark?

[2018-04-16 11:52] jigarpancholi commented on #3877
I just came to know solution for this issue and it was my mistake.
It was because my image was accessible directly in browser because ssl license was expired and browser throws an exception.
After that I checked by ```curl``` and I came to know.

[2018-04-16 16:35] giansalex commented on #1627
I found this [line](https://github.com/wkhtmltopdf/wkhtmltopdf/blob/master/src/lib/imageconverter.cc#L141) in imageconverter
[code]
in pdfconverter i found [this line](https://github.com/wkhtmltopdf/wkhtmltopdf/blob/master/src/lib/pdfconverter.cc#L305),
[code]
it could be the solution
[code]

[2018-04-16 21:25] RossAWaddell commented on #2254
I'm seeing this now with wkhtmltopdf v0.12.4 on CentOS 7.4 (CloudLinux 7.4 kernel), cPanel 68 with CageFS server. What's strange is that it was working perfectly during beta testing, but the day we go live it suddenly stops working. I'm seeing this stderr:

The PHP script is incredibly simple:
`exec($wkhtmltopdf_bin . " http://www.google.com " . dirname(__FILE__) . DIRECTORY_SEPARATOR . "google.pd

[2018-04-17 04:57] jimmymain commented on #2254
I eventually abandoned this and started using this service, which works 100% every time.
https://www.html2pdfrocket.com/

All the necessary retry / failure logic is built into the service, and it's completely hassle free.
My issues with native wkhtmltopdf were erratic and unpredictable, extremely difficult to work around. Pages that worked on one deployment would stop working on another and vice v

[2018-04-17 06:39] CTPLdev4 opened #3881 "Error while converting HTML to PDF"
I am getting the following error when trying to convert HTML to PDF:

**SetProcessDpiAwareness failed: "COM error 0x80070005  (Unknown error 0x0ffffffff80070005)"
Error: This version of wkhtmltopdf is build against an unpatched version of QT, and does not support more then one input document.
Exit with code 1, due to unknown error.**

I have already implemented the same in my previous project. But

[2018-04-17 06:53] jigarpancholi commented on #3877
Issue is only with ```https```. It is working fine with ```http``` url.

[2018-04-17 07:17] ergwun opened #3882 "D3js chart not rendering fully"
My D3js chart (which is SVG dynamically generated via javascript inside web page) renders correctly in Chrome, Firefox, IE11, Edge, and QtWeb with 3 tick marks on the X axis. Here's a screenshot from Chrome:

![image](https://user-images.githubusercontent.com/1226883/38854022-76b89232-4262-11e8-9209-357b4ef7960e.png)

When I create a PDF using wkhtmltopdf, only the first tick mark on the X axis is

[2018-04-17 07:40] marisgithub commented on #3879
Hi, I have similar issue. Have you solved it?

[2018-04-17 09:40] lmanuel-exa commented on #2673
Hello,

The compile doesn't working for me. Can you help me ?
My configuration:
OS: Centos 7.4.1708

My commands:
mkdir /packages ; cd /packages
git clone https://github.com/wkhtmltopdf/wkhtmltopdf.git
git clone https://github.com/qt/qtbase.git
cd wkhtmltopdf
cp -r ../qtbase/* qt/
scripts/build.py setup-schroot-centos7
Result:

[2018-04-17 09:42] lmanuel-exa commented on #2673
Hello,

The compile doesn't working for me. Can you help me ?
My configuration:
OS: Centos 7.4.1708

My commands:
mkdir /packages ; cd /packages
git clone https://github.com/wkhtmltopdf/wkhtmltopdf.git
git clone https://github.com/qt/qtbase.git
cd wkhtmltopdf
cp -r ../qtbase/* qt/
scripts/build.py setup-schroot-centos7
Result:
Usage: scripts/build.py <target> [-clean] [-debug]

The supported targe

[2018-04-17 12:27] marisgithub commented on #3879
I fixed my issues, that was related to javascript that for bigger page loads messed things up. So I passed "disable-javascript" to wkhtmltopdf and it solved my issue.

[2018-04-17 13:47] RossAWaddell commented on #2254
Thanks very much, Jim. I'll have a look at that. What's really frustrating is that I've tried many other HTMLtoPDF APIs (mpdf, DOMPDF, tcpdf, ...) and only wkhtmltopdf gave me the results I needed. But when the very first person goes to use my new app, it fails - and hasn't worked since (well, at least not when invoked from a PHP script; it works fine from a shell when run directly).

[2018-04-17 13:53] klausenbusk commented on #2254
@RossAWadell https://github.com/GoogleChrome/rendertron

[2018-04-17 14:31] mediatomcat commented on #3879
Unfortunately this does not resolve the issue.  I am wondering of there are simply too many images being loaded. Is there a better way to manage cache?

[2018-04-18 10:01] NufarM commented on #3875
Thank you for the answer.
I have the same font in the HTML and in the PDF.
There is something else that I can do for make it looks good besides using another engine?

[2018-04-18 10:43] VasiliyD opened #3883 "Unicode symbols in pages header not supported"
Hi,
wkHtmlToPdf fails to display unicode symbols in pages header

If I run next command, the "русский текст" will be replaced with "????? ????" in header.

[2018-04-18 12:00] kvolden commented on #3290
I'm having the same problem. Specifically when trying to convert rendered [Markdeep](https://casual-effects.com/markdeep/). The PDF has monospace font in the diagrams, but not in code-tags. In code tags the font is the same as the body font, except much smaller.

I don't know if it's related, but the body font is specified to be `Palatino,Georgia,"Times New Roman",serif`, and renders as such in a

[2018-04-18 20:21] lucasbflopes opened #3884 "Command Error: )"
I'm using wkhtmltopdf in a RoR application and recently I've been having a problem when a single user tries to print a specific page; the others seem to be able to print just fine though. In addition, the problem only occurs in production. The error I got from the log is very plain and doesn't say much.  What is `Command Error: )` supposed to mean? I couldn't find an answer anywhere else.

[code]

[2018-04-18 20:39] maguba opened #3885 "Generic linux build for 0.12.2"
Version 0.12.2 doesn't have a generic build like wkhtmltox-0.12.2_linux-generic-amd64.tar.xz. Could it be made available? The links in the PDF are not working correct in the versions 0.12.4 e 0.12.3.

[2018-04-18 20:48] panuci commented on #2938
Got the same error, find the problem was when i try to convert "HTML to IMAGE/PDF" and the HTML has images with full url (http://do...).

[2018-04-18 22:09] stuartcusackie commented on #3635
I agree. This would be good for my needs too. I'm aiming for a coloured cover page with no margins, and the rest of the document to have margins.

I tried to merge two separate pdfs but it's a pain and it doesn't work well. Also you lose your page numbering.

[2018-04-19 01:46] PleaseCallMeXiuye commented on #1676
我猜测，参数 --footer-* 和 -L -R -T -B 有冲突。
;可以正常显示页码, it work.
wkhtmltopdf   --footer-right '[page]/[topage]'  https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1676 test.pdf
;不正常，显示不了页码, it don't work.
wkhtmltopdf   --footer-right '[page]/[topage]'  -L 0mm -R 0mm -T 0mm -B 0mm  https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1676 test.pdf

[2018-04-19 07:04] hakimio commented on #3884
Looks like an issue with either your 3rd party wrapper (wicked_pdf) or environment set-up (can the user running your perl script execute "/usr/local/bin/wkhtmltopdf"?).

[2018-04-19 07:05] hakimio commented on #3883
Maybe just use html header instead?

[2018-04-19 07:17] hakimio commented on #3881
This has nothing to do with wkhtmltopdf itself. It's windows related issue.

https://github.com/ariya/phantomjs/issues/14095

Pull request which fixed it for node-html-pdf:
https://github.com/marcbachmann/node-html-pdf/pull/295

[2018-04-19 08:03] CTPLdev4 commented on #3881
I know it is a Windows issue. But what could be the possible solution to it?

[2018-04-19 08:05] hakimio commented on #3881
Don't run it as a service or spawn process detached?

[2018-04-19 08:06] hakimio commented on #3881
Or just use a wrapper -> https://github.com/codaxy/wkhtmltopdf

[2018-04-19 11:04] pavel-odintsov opened #3886 "Binary releases for ARM64 platform"
Hello!

Do you have any plans about ARM64/arch64 releases? It's rising server platform and would be nice to have them!

[2018-04-19 12:50] Maofab opened #3887 "Place above footer"
Hello All and thank you in advance.
I have to do a bill. Maybe it will be on 1 or 2 pages. I can't know how many articles will be listed.I've made a footer which is on every page.
But I have to put informations always above the last footer.
I mean if I have one page and a few lines of text, informations have to be above the footer.
If I have 2 pages, informations have to be above the footer on the

[2018-04-19 16:35] jigarpancholi commented on #3877
Tried but still getting same error.

[2018-04-19 18:42] VasiliyD commented on #3883
Yeah, that's definitely the first thing which I'm going to check as workaround. But it would be cool to fix the way how this tool parse unicode parameters (the root problem).
This will solve all sort of problems (like inability to convert files with unicode names, etc.)

[2018-04-19 18:45] hakimio commented on #3883
There hasn't been any significant activity on this project for quite a while. I doubt issue like yours will get any attention anytime soon unless you make a pull request yourself.

[2018-04-19 18:46] VasiliyD commented on #3883
I'm not sure I'll have time to look into it. But if there is some pitfalls or previous attempts to fix this, that somebody aware of, it would be helpful to know

[2018-04-19 18:49] hakimio commented on #3883
Maybe the following will be helpful:
https://github.com/wkhtmltopdf/wkhtmltopdf/pull/2858/commits/4b321bd5caab599f0c716c57e7b6005e9ad830a3
https://github.com/wkhtmltopdf/wkhtmltopdf/pull/2858

[2018-04-20 00:54] PhilterPaper commented on #3875
Unfortunately, if the rendering engine (WebKit, here) isn't properly handling complex script instructions, I don't know of any workarounds. Unless someone else speaks up who has dealt with this, your only choice is probably to try another engine. You might want to check on other coders in this discussion group who may have ported it to another rendering engine (Chrome, etc.) which might have bette

[2018-04-20 01:54] flier268 commented on #2266
@laurasavignac
I visit http://codepen.io/lucascvs/pen/WvYwYO,but got 404
Excuse me,what is content_chunk,i did not found any content_chunk in your code

I need a solution about column,thank you,please

[2018-04-20 20:11] lucasbflopes commented on #3884
@hakimio I don't know. It seems weird to me that it this issue only happens to occur with a particular document and just on the production server. There is no difference in setup aside OSes (I develop on mac and the server is linux).

[2018-04-20 20:15] hakimio commented on #3884
Can you manually run the command without the ruby wrapper? What output do you get?

[2018-04-20 20:32] lucasbflopes commented on #3884
The html files are generated at runtime so that the files used to compose the pdf, like `file:////tmp/wicked_header_pdf20180420-31485-1t0t18d.html`, do not exist on the disk. Is there a way to test it?

[2018-04-20 20:34] hakimio commented on #3884
I don't think the html files are the problem. Just use any other files.

[2018-04-20 20:44] lucasbflopes commented on #3884
The command works, but this is expected since the command is currently being ran several times a day on production.

[2018-04-21 00:01] pcunha-lab commented on #3887
I think this is not an issue.

Just place an absolute positioned div at the end of your document. It will be rendered only on the last page.

See if it helps: https://stackoverflow.com/questions/48829069/fixed-sticky-footer-for-print-only-for-last-page?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-21 02:01] dlowhorn commented on #3001
@TiborBesze , your solution worked perfectly for me. Thank you!

[2018-04-21 16:32] weaming commented on #2913
add `--encoding 'UTF-8'` to wkhtmltoimage solved my unicode problem

[2018-04-22 20:43] kevindecapite commented on #2938
On Ubuntu 16.04.4 LTS, when I run `apt-get install libssl1.0-dev` to try and fix this issue, I get the following:

[code]

I don't know what the next steps should be.

[2018-04-23 06:19] DavidCasillasRivero opened #3888 "Fail to load images with NFD (decomposed Unicode normalization form) file names"
I'm running `wkhtmltopdf 0.12.2.4` on Ubuntu16, installed using `apt-get`. When trying to convert a page which contains images with file names in NFD normalization form (they where named in OSX) the images fail to load and are displayed as missing images in the PDF.  All of this pages work fine when viewed in a browser. To reproduce the error the file names should include non ASCII characters like

[2018-04-23 08:29] loic911 opened #3889 "Topage (page number) issue"
Hi,

**Problem**
See header in [result.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/1937196/result.pdf).
My pdf pages goes from "Page 1 of 5" to "Page 4 of 5". There is only 4 pages.
Sometimes I get 2 extra invisible pages.

**What I expect**
"Page 1 of 4" to "Page 4 of 4"

**Step to reproduce**
Extract this zip containing body, header and footer.html: [html.zip](https://github.com/wkhtml

[2018-04-23 09:48] hakimio commented on #3889
Does it happen if you leave out "dpi" setting?

[2018-04-23 10:54] DanielRuf commented on #3780
In general I would suggest using puppeteer in new (Node.js) projects s wkhtmltopdf is not actively maintained or developed anymore as it seems.

[2018-04-23 12:52] marcosdiez commented on #3001
As of today, the command for Ubuntu 16.04 on amd64 is:

`sudo apt-get install -y --allow-change-held-packages libssl-dev=1.0.2g-1ubuntu4.12`
`sudo apt-mark hold libssl-dev`

It it does not work for you, probably the minor version of libssl-dev changed. You mach get the latest here: https://packages.ubuntu.com/xenial/libssl-dev

[2018-04-23 15:44] speeddragon commented on #3780
I'm working with Elixir, and I was using wkhtmltopdf because was the most download module (it's a wrapper to wkhtmltopdf) to generate PDF in Elixir. I've tested puppeteer, and it works fine. I will try to create a wrapper to puppeteer in Elixir.

[2018-04-23 17:45] iuryt opened #3890 "wkhtmltopdf missing SVG paths (Rendering)"
I'm using a image inside the HMTL code like here below:

    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Test</title>
      </head>
      <body>
        <svg height="291pt" version="1.1" viewBox="0 0 291 291" width="291pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs>  <style type="text/css">*{stroke-linecap:butt;str

[2018-04-23 20:36] kulbida opened #3891 "Running wkhtmltopfd as non root fails with core dump"
This is basically it, running it as non privileged user crashes with
Trace/BPT trap (core dumped)                                 ] 10%

OS: OpenBSD

Please help to address. Thank you.

[2018-04-23 21:57] murilosandiego commented on #1770
thead { display: table-row-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }

Worked for me

[2018-04-24 06:59] saddamhussain734 commented on #2997
adding div with page break attribute in td solved it.

[2018-04-24 10:36] med-ezzairi commented on #2054
I found it, in my case I added this to my css class:
`background-size: cover;`

[2018-04-25 01:49] myself379 commented on #3889
I had the same issue, I did not use the --dpi settings as it screwed up the words, especially if the sentences is in between pages. I use --disable-smart-shrinking because it corrects itself to 14px font-size. Most of the time I get the correct number of [page] and [toPage]. But in quite a numbered occasion the [toPage] has extra 1 page.

For my case, it show 11 / 12, even though the last page is

[2018-04-25 06:15] PSThakurJava opened #3893 "PDF not generating with correct alignment"
I m generating  pdf  from  html file   by using wkhtmltopdf ,But i m not getting correct alignment in generated pdf file

[2018-04-25 14:20] maguba opened #3894 "Links in PDF do not work correctly"
Links are not working correctly in version 0.12.4 (with patched qt) clicking on the link opens the document itself (as if it were a self-reference). In version 0.12.2.1 (with patched qt) they work correctly (except that target = "_ blank" is ignored). I'm using wkhtmltopdf in Red Hat 7.1 with the --disable-javascript and --disable-local-file-access options. Please, thank you for your attention.

[2018-04-26 04:40] DasSukanya commented on #2813
Can somebody help me to render latex when converting the html to pdf

[2018-04-26 06:03] PSThakurJava opened #3895 "generating PDF file is not exactly like web page of html file"
i m generating pdf form html file .
but generated pdf file is different alignment from web page
like below attachment
web page
![oie_vlyyi3a9opko](https://user-images.githubusercontent.com/38714747/39288330-2cdd585c-4945-11e8-9a1d-4a6f4018658e.png)

generated pdf file
[toys4.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/1949890/toys4.pdf)

i need help for how to correct this issue
plz help

[2018-04-26 08:29] orioll197 opened #3896 "PDF generating http header"
Hello, the other day I was working with wkhtmltopdf to transform some webpages. The problem is that for a few days now I've been getting the next string in top of the pdf, do you have any clue why is that? It happens even when the html is blank.

[2018-04-26 08:32] orioll197 commented on #3895
Try writing the CSS in a <style> tag on the html, this will probably solve it

[2018-04-26 13:15] benr77 commented on #3001
@marcosdiez Confim that with 16.04 thank you.

The package from my original fix was `1.0.2g-1ubuntu4.8` but as of today it's now `1.0.2g-1ubuntu4.12`

It also seems the `apt-mark hold` is ignored when the available version number changes

[2018-04-26 13:34] kaisera commented on #3001
I had the same error in a docker environment with a http (not https!) query from one container to another. When I replaced the domainname with the ip address, the error was gone.

[2018-04-26 14:01] mikehaertl opened #3897 "Self compiled wkhtmltopdf sends wrong font query to fontconfig"
I'm using a self-compiled version of wkhtmltopdf on Alpine, which is available here:

https://github.com/Surnet/docker-wkhtmltopdf

As I understand it, wkhtmltopdf uses fontconfig to resolve the CSS fonts into the fonts available on the system. It therefore sends a list of font names to fontconfig, depending on the CSS fonts.

But we encounter a weird issue: wkhtmltopdf always requests the same fo

[2018-04-26 19:38] GeneralGorgonzola commented on #3511
Works perfectly, thanks.

[2018-04-26 19:38] #3511 closed

[2018-04-27 14:31] ed9 commented on #3837
Google is your friend, it has nothing to do with wkhtmltopdf from what I believe you're trying to do.

hint:
https://askubuntu.com/questions/27381/how-to-edit-pdf-metadata-from-command-line

[2018-04-27 20:54] lucasbflopes commented on #3884
I figure out what the problem was. There were some characters wkhtmltopdf wasn't capable of interpreting for some reason. I still don't know why it worked on mac but not on linux though. Anyway, I'm closing this issue.

[2018-04-27 20:54] #3884 closed

[2018-04-28 07:42] m93a commented on #2934
I was unable to write to my home directory on Windows 10 (using the x64 version). As a walkaround I created a `C:\out` folder and added proper permissions.

[2018-04-29 09:02] ashkulz commented on #3885
That's unlikely to ever happen, as it is an old version and the generic builds have their own issues (e.g. see #3001). Please create new issues for the exact problem you are facing.

[2018-04-29 09:02] #3885 closed

[2018-04-29 09:04] ashkulz commented on #3886
I'm open to making builds, but I don't have access to such machines. How do you cross-compile for it, and can it be run under qemu?

[2018-04-29 09:05] ashkulz commented on #3897
Is it something specific to that docker image, or does it happen with other OSes?

[2018-04-29 09:09] ashkulz commented on #3873
@macintoshplus: thanks for the offer! Can you test the packages I am building with the `wkhtmltopdf/packaging` repository, available [here](https://builds.wkhtmltopdf.org/0.12.5-dev/)? If you are willing to help in other areas of wkhtmltopdf as well, drop me a mail (it's in my profile).

[2018-04-29 09:09] #3873 closed

[2018-04-29 09:14] ashkulz commented on #1928
So, the packages I am building with the `wkhtmltopdf/packaging` repository, preview builds available [here](https://builds.wkhtmltopdf.org/0.12.5-dev/) will be using the proper RPM naming convention.

[2018-04-29 09:14] #1928 closed

[2018-04-29 09:16] ashkulz commented on #1905
So, the packages I am building with the `wkhtmltopdf/packaging` repository, preview builds available [here](https://builds.wkhtmltopdf.org/0.12.5-dev/) will be using the proper DEB naming convention.

[2018-04-29 09:16] #1905 closed

[2018-04-29 09:26] ashkulz commented on #3001
Okay, so I'd like to apologize for how long this issue has been open. Creating binary packages for each distro means that you inevitably miss quite a few, and that led me to try to create a generic build for 0.12.3 and above. Unfortunately, like this issue shows it's not really possible ... so I'm reverting back to the earlier approach, providing distro-specific binaries.

I'm taking a slightly di

[2018-04-29 09:28] ashkulz commented on #3837
It's better done in a tool which runs after the PDF generation,

[2018-04-29 09:28] #3837 closed

[2018-04-29 09:30] ashkulz commented on #3890
Does it work with 0.13?

[2018-04-29 09:32] ashkulz commented on #3712
If you open the installer in 7-zip, it will show the files within the installer just like a zip. I believe `p7zip` supports extraction of files within installer as well.

[2018-04-29 09:32] #3712 closed

[2018-04-29 09:46] ashkulz commented on #3865
The official builds don't have a dependency on X, distro packages have it. 0.12.5 will bring back the distro-specific builds via the `wkhtmltopdf/packaging` repository, you can download preview builds [here](https://builds.wkhtmltopdf.org/0.12.5-dev/).

[2018-04-29 09:46] #3865 closed

[2018-04-29 09:47] mikehaertl commented on #3897
It's specific to that image. I need wkthmltopdf on Alpine and this version is the only one I could find.

wkhtmltopdf basically works - but it does not communicate correctly with fontconfig. The fonts are all available on the system and fontconfig could find them.

But wkhtmltopdf never includes any **Serif** or **Times New Roman** to the match string it sends to fontconfig.

[2018-04-29 09:51] ashkulz commented on #3850
Currently working on a reworked packaging system in the `wkhtmltopdf/packaging` repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/). For OS X and Windows, trying to automate the build using vagrant so a release can be created easily.

Planning to release a `-rc` by next weekend, and a release after a week .. so expect May 15 for the 0.12.5 release.

[2018-04-29 09:51] #3850 closed

[2018-04-29 09:58] ashkulz commented on #3897
Must be something about the way it is compiled, then. If you're using other distros, you can try the [resurrected distro-specific binaries](https://builds.wkhtmltopdf.org/0.12.5-dev/). I'd appreciate PRs for adding alpine support in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) :smile:

[2018-04-29 10:01] ashkulz commented on #3849
That will be changing from 0.12.5, see [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) and the [preview binaries for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/).

[2018-04-29 10:01] #3849 closed

[2018-04-29 10:02] #3852 closed

[2018-04-29 10:03] ashkulz commented on #3872
That will be changing from 0.12.5, see [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) and the [preview binaries for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/).

[2018-04-29 10:03] #3872 closed

[2018-04-29 10:08] ashkulz commented on #3858
Run `uninstall-wkhtmltox` in the terminal.

[2018-04-29 10:08] #3858 closed

[2018-04-29 10:10] ashkulz commented on #2609
Currently working on a reworked packaging system in the `wkhtmltopdf/packaging` repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/). For OS X and Windows, trying to automate the build using vagrant so a release can be created easily.

Planning to release a `-rc` by next weekend, and a release after a week .. so expect May 15 for the 0.12.5 release.

[2018-04-29 10:10] #2609 closed

[2018-04-29 10:13] ashkulz commented on #3739
Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for some distros](https://builds.wkhtmltopdf.org/0.12.5-dev/). Will accept PRs for Alpine support :smile:

[2018-04-29 10:13] #3739 closed

[2018-04-29 10:14] ashkulz commented on #3265
Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for some distros](https://builds.wkhtmltopdf.org/0.12.5-dev/). Will accept PRs for Alpine support :smile:

[2018-04-29 10:16] ashkulz commented on #3864
Duplicate of #1564

[2018-04-29 10:16] #3864 closed

[2018-04-29 10:16] mikehaertl commented on #3897
Well, that's exactly what we try to figure out :). Any idea where to start looking or what could cause this is highly welcome. Also check the other issue where we already collected some information what we tried.

https://github.com/Surnet/docker-wkhtmltopdf/issues/1

[2018-04-29 10:17] ashkulz commented on #3847
No details provided, please ask on StackOverflow.

[2018-04-29 10:17] #3847 closed

[2018-04-29 10:20] #3843 closed, assigned to nobody

[2018-04-29 10:26] ashkulz commented on #3826
Duplicate of #3001, try the [preview binaries for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/).

[2018-04-29 10:26] #3826 closed

[2018-04-29 10:29] ashkulz commented on #3468
This is close to impossible, as there will always be a dependency on the host OS for providing font related configuration and discovery.

Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/) which move back to a distro-specific pac

[2018-04-29 10:29] #3468 closed

[2018-04-29 10:30] #3805 closed

[2018-04-29 10:31] ashkulz commented on #3307
Not really sure what you mean, please reopen if you can provide more information.

[2018-04-29 10:31] #3307 closed

[2018-04-29 10:33] ashkulz commented on #3778
Can you reproduce it outside IIS?

[2018-04-29 10:34] ashkulz commented on #3679
Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/). For OS X and Windows, trying to automate the build using vagrant so a release can be created easily.

Planning to release a `-rc` by next weekend, and a release after a week ..

[2018-04-29 10:34] #3679 closed

[2018-04-29 10:35] pavel-odintsov commented on #3886
Hello!

Thank you for fast response!

qemu in latest versions got pretty decent support for ARM64. Also, we use http://scaleway.com/ VMs for such purposes. They run native ARM64 and work fine.

[2018-04-29 10:35] ashkulz commented on #3779
Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/). For OS X and Windows, trying to automate the build using vagrant so a release can be created easily.

Planning to release a `-rc` by next weekend, and a release after a week ..

[2018-04-29 10:35] #3779 closed

[2018-04-29 10:37] ashkulz commented on #3741
Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/). Will create something for 0.12.1 if required, would appreciate fixing any issues with odoo before the 0.12.5 release.

[2018-04-29 10:37] #3741 closed

[2018-04-29 10:38] ashkulz commented on #3769
Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/).  This should have the include files and library by default.

[2018-04-29 10:38] #3769 closed

[2018-04-29 10:40] ashkulz commented on #3745
Currently working on a reworked packaging system in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository, you can download preview builds [for linux](https://builds.wkhtmltopdf.org/0.12.5-dev/). Would appreciate PRs for this.

[2018-04-29 10:40] #3745 closed

[2018-04-29 10:41] ashkulz commented on #3742
Use the correct binary? See the preview builds [for next release](https://builds.wkhtmltopdf.org/0.12.5-dev/).

[2018-04-29 10:41] #3742 closed

[2018-04-29 10:43] ashkulz commented on #3886
Packages will need to be distro-specific, so which distros are commonly used? Also, not really sure how to use/set it up. I feel the discussion would better be handled in the [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) repository instead.

[2018-04-29 10:43] #3886 closed

[2018-04-29 10:44] ashkulz commented on #3662
What error do you get from BitBucket?

[2018-04-29 10:51] ashkulz commented on #3897
It's exactly to handle stuff like this that I've created [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) -- don't want to mix up packaging/distro specific concerns over here. Not sure if I'll get time to look into it, though ... want to finish 0.12.5 first.

[2018-04-29 10:52] mikehaertl commented on #3897
Ok, so should I open an issue there instead? Then we can close this here.

[2018-04-29 10:57] ashkulz commented on #3897
Yep, let's discuss Alpine packaging over there.

[2018-04-29 10:57] #3897 closed

[2018-04-29 11:15] #3672 closed

[2018-04-29 11:15] #3857 closed

[2018-04-29 11:54] mikerockett commented on #3826
I've moved to a Mac, so not able to test anymore. Thanks though 👍

[2018-04-29 16:56] TheAssassin commented on #3745
@ashkulz please create an issue in the new repository and CC me there, I'll have a look.

[2018-04-30 06:52] ashkulz commented on #2791
Duplicate of #1868

[2018-04-30 06:52] #2791 closed

[2018-04-30 06:54] ashkulz commented on #1868
If someone still wants this, please create an issue in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) and describe which versions of RPi and/or OSes you are using.

[2018-04-30 06:54] #1868 closed

[2018-04-30 06:58] #1991 closed

[2018-04-30 07:11] ashkulz commented on #3718
Yes, see [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging).

[2018-04-30 07:11] #3718 closed

[2018-04-30 07:11] ashkulz commented on #3719
See [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) for updated approach for building packages.

[2018-04-30 07:11] #3719 closed

[2018-04-30 07:12] ashkulz commented on #3722
Nothing to do with wkhtmltopdf, please check with whatever wrapper you are using.

[2018-04-30 07:12] #3722 closed

[2018-04-30 07:13] ashkulz commented on #3717
Yes, see [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) for an updated approach which would work in any linux environment which has docker.

[2018-04-30 07:13] #3717 closed

[2018-04-30 07:15] ashkulz commented on #3716
Looks like the official binary is not working on Arch Linux. Try the distro package or contribute a PR for Arch Linux support to [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging).

[2018-04-30 07:15] #3716 closed

[2018-04-30 07:16] ashkulz commented on #3727
Not clear on how this is related to wkhtmltopdf.

[2018-04-30 07:16] #3727 closed

[2018-04-30 07:17] ashkulz commented on #3725
Please reopen the issue if you are still facing problems.

[2018-04-30 07:17] #3725 closed

[2018-04-30 07:18] ashkulz commented on #3688
That hasn't happened yet, but any such discussion should be carried out in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging).

[2018-04-30 07:18] #3688 closed

[2018-04-30 07:25] ashkulz commented on #3705
Try the fix suggested in [this comment](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2782#issuecomment-377704398).

[2018-04-30 07:25] #3705 closed

[2018-04-30 07:28] ashkulz commented on #3595
Although that's an option many people would find suitable, not sure why it is present in this bugtracker.

[2018-04-30 07:28] #3595 closed

[2018-04-30 07:30] ashkulz commented on #3584
You don't have a problem in the scenario described, it's LGPL not AGPL.

[2018-04-30 07:30] #3584 closed

[2018-04-30 07:31] ashkulz commented on #3577
No details provided.

[2018-04-30 07:31] #3577 closed

[2018-04-30 07:32] #3574 closed

[2018-04-30 07:33] ashkulz commented on #3597
Please reopen if the workaround doesn't work, also try [this suggestion](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2782#issuecomment-377704398)

[2018-04-30 07:33] #3597 closed

[2018-04-30 07:34] ashkulz commented on #3784
That version is way too old and not supported.

[2018-04-30 07:34] #3784 closed

[2018-04-30 07:35] ashkulz commented on #3776
So move to a higher instance, some pages can take a lot of RAM to process.

[2018-04-30 07:35] #3776 closed

[2018-04-30 07:36] ashkulz commented on #3645
It's a work in progress, so things will be broken.

[2018-04-30 07:36] #3645 closed

[2018-04-30 07:36] ashkulz commented on #3642
It's a work in progress, so things will be broken.

[2018-04-30 07:36] #3642 closed

[2018-04-30 07:37] ashkulz commented on #3639
They are embedded by default.

[2018-04-30 07:37] #3639 closed

[2018-04-30 07:38] ashkulz commented on #3638
It's unlikely to be supported, better allow password authentication for a hardcoded user instead and use that.

[2018-04-30 07:38] #3638 closed

[2018-04-30 07:39] ashkulz commented on #3622
It's a work in progress, so there's no real estimate.

[2018-04-30 07:39] #3622 closed

[2018-04-30 07:40] ashkulz commented on #3616
I don't use that OS, if you use it and want to add support head over to [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) and create an issue/PR.

[2018-04-30 07:40] #3616 closed

[2018-04-30 07:44] graingert commented on #3595
@ashkulz I mean for this project to change to being a wrapper of headless chromium or a patched version of headless chromium

[2018-04-30 07:48] ashkulz commented on #3595
Ah ok, that would mean a complete change of browser engine ... effectively meaning a complete rewrite, which is unlikely to happen. I'm planning to base the next release on the [revived QtWebKit port](https://github.com/annulen/webkit).

[2018-04-30 07:51] magnus-m commented on #3567
Any workaround  for this issue?

[2018-04-30 07:52] ashkulz commented on #3567
Does this work better with the 0.13 alpha builds?

[2018-04-30 08:41] Yenthe666 opened #3898 "wkhtmltopdf 0.12.1 does not work on Ubuntu 18.04 because of dependency issue"
Hi there,

When you download and try to install wkhtmltopdf you'll see that Ubuntu 18.04 does not support `libpng12-0` (also see https://packages.ubuntu.com/search?keywords=libpng12-0) when you run the following commands:
[code]

Output:
[code]

[2018-04-30 09:04] magnus-m commented on #3567
@ashkulz The 0.13 alpha did not show padding either.

You can try with this in https://jsfiddle.net/ to see how padding it should look:

html:
[code]
css:
[code]

[2018-04-30 09:25] ZAJDAN commented on #2279
did somebody somehow solved this problem? I am facing to the same :(

[2018-04-30 09:34] ZAJDAN opened #3899 "Undesirable extra blank Page"
Hello,
I am using **phpwkhtmltopdf version 2.1.0**  with **wkhtmltopdf 0.12.2.1 (with patched qt)** and there I have the problem, that after each page is added one blank/empty page.
Probably it is problem in the wkhtmltopdf library. Do you have same experiences?
Thank You for any hint

[2018-04-30 09:39] ashkulz commented on #3898
Ubuntu 18.04 got released 4 days ago, and you're trying to install `0.12.1` which is 3 releases old :frowning:

You can contribute a PR for supporting Bionic in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) or see if the stretch / xenial builds work for you.

[2018-04-30 09:39] #3898 closed

[2018-04-30 09:42] Yenthe666 commented on #3898
Hi @ashkulz,

I know this is quite a lot behind. Sadly Odoo itself only has a full support on `0.12.1`, which forces us to stick to it (see https://github.com/odoo/odoo/wiki/Wkhtmltopdf)

[2018-04-30 09:49] ashkulz commented on #3898
I'd [love to know what issues](https://github.com/odoo/odoo/issues/21255#issuecomment-385242505) Odoo is facing with the latest builds, as I'd like fix them before the 0.12.5 release.

[2018-04-30 12:07] arjunsuresh commented on #1872
As I'm not getting any solution for multi-page PDF with multiple columns, easiest way is to use "Print" button in latest chrome.

[2018-04-30 13:55] maguba commented on #3885
Thanks for the answer. The problem is the links in the PDF that work in 0.12.2 and do not work in 0.12.4... without changing anything in the execution options between the versions #3894.

[2018-04-30 14:15] jmcclelland commented on #3001
Thank you! That's great to hear. I just tested the stretch amd64 [preview build](https://builds.wkhtmltopdf.org/0.12.5-dev/) and it seems to work perfectly. How did you fix the problem without upgrading Qt?

[2018-04-30 15:05] maguba commented on #3894
The command used is:
wkhtmltopdf-amd64 --quiet --disable-javascript --disable-local-file-access --title doc-0045735 doc.html doc.pdf 2>&1

Document.txt contains the HTML content. I have also attached the pdf files generated in each version.

[Document.txt](https://github.com/wkhtmltopdf/wkhtmltopdf/files/1961066/Document.txt)
[PDF-0.12.4.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/196106

[2018-04-30 15:14] maguba commented on #3894
The link will not work because it depends on the session in the system. But note that the location is different depending on the version in which the PDF was generated.

[2018-04-30 15:53] adriencohen commented on #2691
Just to add to @kenprogrammer's anwser, don't forget to switch your FTP client to transfer in Binary Mode or the binary file might not work.

[2018-04-30 16:16] ScouterX opened #3900 "Unicode in Href not working"
The HTML, which have asian unicode characters within Href, can't produce proper links.
After analyzing the pdf with an Hex-Editor i found me lucky: The URLs are in clear text and with broken asian characters.
I use Arial Unicode MS as Font.
I hope, i have analyzed the pdfs correct. In comparison asian characters are parsed correct elsewhere.
In the Zip File is an HTML and the resulting pdf.
The HT

[2018-04-30 18:16] ashkulz commented on #3899
Duplicate of #2279

[2018-04-30 18:16] #3899 closed

[2018-04-30 18:41] maguba commented on #3894
The versions used correspond to the links below:

https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz

https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.2.1/wkhtmltox-0.12.2.1_linux-centos7-amd64.rpm

To not change the reference to the executable on my system I renamed the binary file to wkhtmltopdf-amd64.

[2018-04-30 19:10] phackwer opened #3901 "wkhtmltoimage - some special characters rendering with 'Â' prefixed (similar to #3429)"
Hi,

I've been experiencing  some special characters rendering with 'Â' prefixed, similar to issue #3429. But I'm doing it on with rails, and wkhtmltoimage. Should this be happening to images too?

[2018-04-30 20:26] ScouterX commented on #3900
Version 0.12.4.0 for Windows installed via wkhtmltox-0.12.4_msvc2015-win64.exe.

[2018-05-01 01:47] ashkulz commented on #3898
You got your wish via wkhtmltopdf/packaging@52b4e170592c741ea661e582a23c6a8b9b697893 -- is there any OS/distro/arch combination that you'd like to see packaged as well?

[2018-05-01 05:39] Yenthe666 commented on #3898
@ashkulz nice! No, this is the only OS/distro that I need.
Just wondering, can this then be applied on wkhtmltopdf `0.12.1` so that if I download it from `https://downloads.wkhtmltopdf.org/0.12/0.12.1/wkhtmltox-0.12.1_linux-trusty-amd64.deb` it'll work or not? Wondering how to deal correctly with it in an older version.

[2018-05-01 05:59] EbarriosCode commented on #3475
I'm having the same problem someone knows if it's resolved

[2018-05-01 06:37] ashkulz commented on #3898
See https://builds.wkhtmltopdf.org/0.12.1.3/ -- I had posted the link in the other ticket.

[2018-05-01 06:40] ashkulz commented on #3475
Looks like the command did not run properly, try running it directly and see if it works. Also, if you are using Ubuntu 16.04 use the distro-specific builds from https://builds.wkhtmltopdf.org/

[2018-05-01 06:40] #3475 closed

[2018-05-01 06:42] ashkulz commented on #1868
Would appreciate someone testing and giving feedback on the raspbian build available from

https://builds.wkhtmltopdf.org/0.12.5-dev/wkhtmltox_0.12.5-0.20180430.129.dev~1744d93~raspbian.stretch_armhf.deb

[2018-05-01 06:48] Yenthe666 commented on #3898
@ashkulz on the page https://github.com/wkhtmltopdf/wkhtmltopdf/releases/0.12.3 I'm missing a `wkhtmltox-0.12.3_linux-trusty-amd64.deb` equivalt of the one at page https://github.com/wkhtmltopdf/wkhtmltopdf/releases/0.12.1 (named `wkhtmltox-0.12.1_linux-trusty-amd64.deb`).
The 0.12.3 page has no .deb packages?

[2018-05-01 08:39] webdevilopers commented on #2561
Workaround by @piotr-cz worked just fine for me!

[2018-05-01 10:51] ashkulz commented on #3898
Not really getting what you are asking. The `0.12.3` build switched to a generic build based on CentOS 6, but it obviously doesn't work everywhere so switching back to distro-specific builds. I've created a special release **0.12.1**.3 for odoo before they can confirm what's missing in `0.12.5`, which was what you wanted...

[2018-05-01 11:01] ashkulz commented on #3621
Please open a new issue in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) if you want to continue this discussion.

[2018-05-01 11:01] #3621 closed

[2018-05-01 11:02] #3586 closed

[2018-05-01 11:03] #3662 closed

[2018-05-01 11:04] ashkulz commented on #3630
This is best done by a post-processing tool run after wkhtmltopdf, as it would require changes in the Qt PDF generation library.

[2018-05-01 11:04] #3630 closed

[2018-05-01 11:05] ashkulz commented on #3575
Nothing much I can do about that.

[2018-05-01 11:05] #3575 closed

[2018-05-01 11:07] ashkulz commented on #3570
Try using `--disable-local-file-access`

[2018-05-01 11:07] #3570 closed

[2018-05-01 11:12] GM-Script-Writer-62850 commented on #1868
wkhtmltopdf seems to work good
[code]
Why would you make `--no-print-media-type` default for making PDF files?
Aside from that I do not see any problems, well unless you count a unreasonably nit picky point about browser default button styles not matching default themes on a headless server that does not have a system theme in the 1st place

Now what was that other tool `wkhtmltoimage` now that i

[2018-05-01 11:14] phackwer commented on #3687
I'm having similar issue. Funny fact: we are using docker phusion/passenger-ruby23:0.9.20. It runs ok in dev (macos host, but the container has all the binaries) but it's not rendering texts when in the server (linux host).

What could it be?

[2018-05-01 12:41] ashkulz commented on #3549
Releasing it by next weekend, `-rc` planned for this weekend.

[2018-05-01 12:41] #3549 closed

[2018-05-01 12:42] ashkulz commented on #3535
Please open a new issue in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) if you want to continue this discussion.

[2018-05-01 12:42] #3535 closed

[2018-05-01 12:44] ashkulz commented on #3335
This was fixed in af95531eabb212ae16a9fb689bb25a767eb580bc.

[2018-05-01 12:44] #3335 closed

[2018-05-01 12:45] ashkulz commented on #3209
Please open a new issue in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) if you want to continue this discussion, as it is using docker containers now.

[2018-05-01 12:45] #3209 closed

[2018-05-01 12:46] ashkulz commented on #3001
I'll be examining whether I can incorporate patches to get it working with OpenSSL 1.1, but either way closing this issue for now.

[2018-05-01 12:46] #3001 closed

[2018-05-01 12:48] ashkulz commented on #2852
Fixed via wkhtmltopdf/qt@6f025714379c0c004395fcde47396780b84716e3

[2018-05-01 12:48] #2852 closed

[2018-05-01 12:49] ashkulz commented on #2851
Please open a new issue in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) if you want to continue this discussion.

[2018-05-01 12:49] #2851 closed

[2018-05-01 12:50] ashkulz commented on #1806
Duplicate of #2894

[2018-05-01 12:50] #1806 closed

[2018-05-01 12:53] ashkulz commented on #2497
Not really relevant any more.

[2018-05-01 12:53] #2497 closed

[2018-05-01 12:55] ashkulz commented on #2585
Related to #1573

[2018-05-01 12:55] #2585 closed

[2018-05-01 12:57] ashkulz commented on #2602
OpenSSL is linked in, but looked up dynamically at runtime -- see http://doc.qt.io/archives/qt-4.8/ssl.html

[2018-05-01 12:57] #2602 closed

[2018-05-01 12:57] #2606 closed

[2018-05-01 12:58] ashkulz commented on #2622
Please open a new issue in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) if this is still relevant.

[2018-05-01 12:58] #2622 closed

[2018-05-01 12:59] #2617 closed

[2018-05-01 12:59] #2696 closed

[2018-05-01 13:00] ashkulz commented on #2707
Please open a new issue in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) if this is still relevant.

[2018-05-01 13:00] #2707 closed

[2018-05-01 13:00] #2672 closed

[2018-05-01 13:00] #2686 closed

[2018-05-01 13:01] #2716 closed

[2018-05-01 13:02] ashkulz commented on #2638
Unlikely to be ever supported.

[2018-05-01 13:02] #2638 closed

[2018-05-01 13:03] ashkulz commented on #2792
This is something best done as a post-processing tool after the PDF is generated.

[2018-05-01 13:03] #2792 closed

[2018-05-01 13:04] #2830 closed

[2018-05-01 14:08] jmcclelland commented on #3001
Thanks again for your attention to this important issue - I really appreciate your work.

One last question - was your fix to get wkhtmltopdf/Qt to somehow work with SSLv3? Or was the fix to get wkthtmltopdf/Qt to work with a newer version of SSL/TLS? I'm curious to know if I use the development packages that you provided - which version of SSL/TLS will I be using?

[2018-05-01 18:48] ashkulz commented on #1868
It's been that way for ages, probably because when the tool was written there was not much support for print CSS and it was better to use the screen media type?

[2018-05-01 19:01] GM-Script-Writer-62850 commented on #1868
Print CSS rules simply override other rules, well unless the dev used `@media screen{}` for everything and did not make a `@media print{}`

The browser default for printing is to apply print media and not to apply screen media, anything out side of a media target applies to everything
Since this is essentially printing to a file it should follow that standard by default, most people want a PDF fil

[2018-05-01 19:02] ashkulz commented on #3900
Okay, am able to confirm this. It looks like the link is [converted to Latin1](https://github.com/wkhtmltopdf/qt/commit/baf062653cf41412cadbeecfb8ffd992ab9025c9#diff-ca7d8ac2919a55f5e2c829bd90929a99R1189) instead of using [toEncoded](http://doc.qt.io/archives/qt-4.8/qurl.html#toEncoded) which naturally coverts the non-ASCII characters to `?`.

Thanks for the test case and description, this should

[2018-05-01 19:03] ashkulz commented on #1868
I don't want to change the default right now, maybe I'll consider it for 0.13.

[2018-05-01 19:07] GM-Script-Writer-62850 commented on #1868
it is not that big a deal anyway, once you choose a default changing it will do more harm that good as people will be confused when something breaks just to find out a default setting change, a normal new user will check the `--help` data and find the option and just use it

[2018-05-01 19:09] ashkulz commented on #3687
Is this specific to Mac OS (if so, 32 or 64 bit) or applies to Linux as well? Would appreciate a small testcase which can be run from the command line.

[2018-05-01 19:38] peterlitvak commented on #2567
has this been addressed? I have the same issue

[2018-05-02 06:45] ScouterX commented on #3900
Thank you.

[2018-05-02 07:11] ashkulz commented on #3900
Keeping it open till it gets fixed.

[2018-05-02 07:47] Obyri commented on #3874
I am experiencing this issue to. I am using this on a server to generate pdf from cakephp rendered html.
Every so often one of the output will fail with 100% cpu there is not log output it hangs during the percentage done output. There is no consistency to the issue. The same html page will render many times and then suddenly fail.

[2018-05-02 18:46] bitimihkel commented on #3555
yeah, i did not have to use tabble of contents ... so i did not notice that problem. However I still had still to throw away the DLL solution because I tested only on my Mac, but the Linux distro had some problems I was not able to solve - it was not able to read CSS styles (it gave warnings about read failures of these files and printed PDF without those styles) and also image file was not abble

[2018-05-02 19:54] KGear7 commented on #3555
@bitimihkel
This does not sound well. :(
I hope I will not find any other problems.
I now have solved calling wkhtmltopdf_init() and wkhtmltopdf_deinit() by using a Singleton pattern:
I had everything just within a class. So Singleton pattern fits well. Now I can call wkhtmltopdf_init() within constructor and wkhtmltopdf_deinit() within destructor of this class.

[2018-05-03 02:28] Guosandao commented on #3629
I have the same problem on centos 6.8.
My current version of wkhtmltopdf : wkhtmltox-0.12.3_linux-generic-i386.
![image](https://user-images.githubusercontent.com/22426410/39557777-a1478466-4ebc-11e8-8e8f-de3441feb125.png)
Note: In old version wkhtmltopdf 0.11.0 rc1, I'm not facing this issue.

[2018-05-03 12:52] #2490 closed

[2018-05-03 12:53] #2524 closed

[2018-05-03 12:53] #2594 closed

[2018-05-03 12:54] #2603 closed

[2018-05-03 12:55] ashkulz commented on #2681
Please reopen if this is still occurring with the latest releases.

[2018-05-03 12:55] #2681 closed

[2018-05-03 15:44] yukagi opened #3902 "wkhtmltopdf not compiling for Mac OS 10.12.6 (Sierra)"
I'm trying to compile from source to see if the new version of Qt will resolve some rendering issues I'm having, but it's not compiling.

I'm trying to build with ```WKHTMLTOX_QT_CONFIG="remove:-openssl -no-openssl" scripts/build.py osx-cocoa-x86-64 -debug```

and it errors out with this:
[code]

Any ideas where I should turn to next?

[2018-05-03 16:27] iuryt commented on #3890
Thanks for the suggestion. I'll try it.

The 0.13 version is only available on BitBucket? There's some other way to install it rather than manually build it? (pip or conda).

[2018-05-04 09:38] dengyunbing opened #3903 "data label of y axis only show one max label data in the highchart's line chart when the generated pdf file"
we generate line chart in the html file using highchart lib, the y axis data label can show many lines number,
But when export to pdf with wkhtmltopdf, the y axis data label only show one max number, no other y axis label line numbers, you can see the difference between html.jpg and pdf.jpg in the attached files.
![html](https://user-images.githubusercontent.com/38976551/39621456-711043d6-4fc1-11e

[2018-05-04 13:50] frankipl opened #3904 "crash at wkhtmltopdf_convert in QtCoreApplication"
HI
I want to use wkhtmltopdf in my server application to generate pdf from html files.
I have encounteder very strange problem, my app is crashing when I'm settings QString in Singleton by using + sign instead of QString("%1").arg(my_string).
I have prepared example app available on Github it uses example pdf_c_api.c from
https://github.com/wkhtmltopdf/wkhtmltopdf
In file Zmienne.cpp I have variab

[2018-05-05 03:54] gitstashgithub commented on #3861
As many others I have the same problem. Most time adding a new line above the table would fix the problem, so I suspect the issue may relate to how the table get split to multiple pages.

[2018-05-05 05:42] ashkulz commented on #3902
I'm currently working on a vagrant based build, see [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging). Unfortunately, it's taking a bit of time as I'm trying to integrate [conan](https://conan.io/) to build the required dependencies -- which will help the Windows build as well.

Not sure what error you're getting, as the latest build [was successful](https://travis-ci.org/wkhtmltop

[2018-05-05 05:42] #3902 closed

[2018-05-05 05:46] ashkulz commented on #3904
I wouldn't recommend using wkhtmltopdf from a Qt application, as you've got two event loops in place. You're also using Qt 5 along with Qt 4 in the same binary, so it's best if you shell out to wkhtmlopdf.

[2018-05-05 05:46] #3904 closed

[2018-05-05 07:51] frankipl commented on #3904
how about recompiling wkhtmltopdf with Qt 5 ?

[2018-05-05 09:56] AlexKa commented on #3001
@kai101: Thx for the line

As of today for Ubunu 17.10 Artful (https://packages.ubuntu.com/artful/libssl-dev) version is 13.5 (still fixes this issue)

sudo apt-get install libssl-dev=1.0.2g-1ubuntu13.5 openssl=1.0.2g-1ubuntu13.5

[2018-05-06 10:40] kironet commented on #1508
I'm having the same problem with Bootstrap 4. Its like i'm in mobile version of the website.
Tried landscape but it didn't help at all :(

[2018-05-06 18:25] TerjeBr commented on #3001
Be aware that the official fix is no longer to downgrade libssl, but instead to use the new builds for version 0.12.5. Linux builds for 0.12.5 can be found at [https://builds.wkhtmltopdf.org/0.12.5-dev/](https://builds.wkhtmltopdf.org/0.12.5-dev/)

[2018-05-06 22:50] edirectorios opened #3905 "Avoid page break for tables for 1 row"
i've a problem that maybe can be solved in an easy way.

I've text that ends near the end with a table that shows the header and then start perfectly again in the next page but repeating the table head.

Is there a way to calculate the distance of a header to avoid this kind of situation and send the table to a new page?

Thanks guys!.

![image](https://user-images.githubusercontent.com/3885324/39

[2018-05-07 05:30] hungweng opened #3906 "0.13 Windows Scaling"
Hi, I'm running the program in Windows 10, if the scaling in the windows display setting is set to anything higher than 100%, the generated pdf will be scaled down accordingly.
I tried setting --zoom or --dpi, none of these works in the alpha version 0.13, and I have to use version 0.13 otherwise the content produced by js script is not displayed correctly.
Is there any other workaround for this i

[2018-05-07 22:59] pparavicini commented on #1542
I was facing an issue using wkhtmltopdf-0.12.4 from the command line whereby I could not get bold text to output in the pdf, even though it displayed properly in the html file. I am using a @font-face block in my css to designate the font.  Changing the 'font-family' name solved the issue for me:

Before, using a standard declaration:

`@font-face {
    font-family: 'transat-text',
    font-weight

[2018-05-08 02:48] summerDan commented on #3787
![qq 20180508103430](https://user-images.githubusercontent.com/38314158/39735001-3ae91376-52ac-11e8-8fca-c129678d69f3.png)
![qq 20180508103506](https://user-images.githubusercontent.com/38314158/39735007-3e60b9aa-52ac-11e8-87c3-e301294f7854.png)

Requirements: Generate a pdf on the page;
Currently vue is built, the referenced components are echarts (of course vcharts/vue-schart/vue-echarts, etc. h

[2018-05-08 18:56] PhilterPaper commented on #3905
Note that if the table is long enough to overflow a page, this CSS probably will not work for you, as it still has to break _somewhere_, and after the first row is as good a place as any. If the table fits on a page, it _might_ keep it in one piece (at the cost of a lot of blank space at the end of the first page). If the real problem is that you'd like to have a minimum number of rows on a page,

[2018-05-08 20:37] jamesburrow23 commented on #3072
+1 Any updated on this?

[2018-05-08 21:30] perficientsushil commented on #1965
Does 0.13 released? as CSS3 workarround is not working properly.

[2018-05-09 01:52] ashkulz commented on #3900
@ScouterX: can you try [the build](https://ci.appveyor.com/project/ashkulz/wkhtmltopdf-b7e7u/build/99/artifacts) and confirm that it works?

[2018-05-09 10:37] ScouterX commented on #3900
In my opinion, you have fixed the culprit. A japanese font example (attachement) parsed to a pdf with working links (with some pdf viewer software). I can finally contact the various programmers out there to fix their unicode implemantation of existing programs.
Sidenote: the fix also helped with latin font implementation in regard of other pdf viewer software.
Maior improvement.
Pdf created by Po

[2018-05-09 15:28] elioschmutz opened #3907 "CSS selector does not work with multiple classes on one tag"
If there are multiple classes on a tag, it's only possible to select this tag with the first class:

Does not work:
===========
[code]
[code]
<img width="846" alt="bildschirmfoto 2018-05-09 um 17 27 23" src="https://user-images.githubusercontent.com/557005/39823888-4dbc66c6-53ae-11e8-84de-799d4137c85c.png">

Does work:
========
[code]
[code]
<img width="822" alt="bildschirmfoto 2018-05-09 um 17 28

[2018-05-09 16:50] reagle commented on #3241
Just stumbled into this, on Mac, version 0.12.4 is that which is available via homebrew.

[2018-05-09 16:56] AlJohri commented on #3241
looks like @ashkulz is saying we might have a new release by around may 15 which fixes this regression if I'm not mistaken https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3850#issuecomment-385239452

[2018-05-09 17:17] ashkulz commented on #3241
I haven't gotten around to release the -rc yet, planning to do that this weekend instead.

[2018-05-10 10:57] elainebyrne opened #3908 "Avoid page break within a DIV"
I have a design where there's a long DIV and that breaks the PDF when generated. The content goes to the next page and renders the first page blank!

The PDF is attached to see how it looks after it's generated.

This is the CSS:
[code]

The HTML:
[code]
Where am I going wrong?
[resume_test.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/1991355/resume_test.pdf)

[2018-05-10 12:17] elainebyrne opened #3909 "Server load and optimization"
Hi,

I'm using the latest version of wkhtmltopdf and generating PDF. I'm on DigitalOcean with 1GB RAM and 1CPU.

Generating PDF with just a simple 1-page html without css takes about 1.5-2 seconds and uses approximately 50% of the CPU!

The PDF has just "hello world" and nothing else.

Is this a normal CPU/serve usage? What could I possibly be doing wrong?

[2018-05-10 12:48] LindseyDurst opened #3910 "Header and footer don't show up on cover page and TOC"
Hello!
I have an issue with setting header and footer on TOC and cover pages. They appear on every other page but cover and TOC,
The funny thing is that in the same time this pages have spaces "reserved" for header and footer. This is visible from cover page in PDF attached [pdf_attempt.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/1991612/pdf_attempt.pdf) .
Bottom text gets sliced in half

[2018-05-11 09:58] minhvuonghd opened #3911 "page numbering in header/footer htmls with wkhtmltopdf issue"
I have code like wkhtmltopdf  help

[code]

BUT WHEN CONVERT PDF

Page   **undefined**   of  **undefined**

i don't know   please help me. Thanks!

[2018-05-11 11:34] ashkulz commented on #3910
Is this reproducible with the [dev builds](https://builds.wkhtmltopdf.org/0.12.5-dev)? I'd prefer to have a simple, self-contained test case which can be run from the command-line -- a set of HTML files and command-line as gist would be fantastic.

[2018-05-11 11:37] ashkulz commented on #3911
Can you please provide a complete testcase including all HTML/CSS files and command-line arguments?

[2018-05-11 12:51] Yajo commented on #2711
Well, I finally digged it down to a reproducible case.

The title of this issue should be misleading for wkhtmltopdf developers. For some unkown reason ([maybe this one?](https://stackoverflow.com/a/45948322/1468388)), while running Odoo (in Python), [it detects the exit code -11 for these errors](https://github.com/odoo/odoo/blob/1dae7ea1d660dca32e7261c5c0ed710e5541c641/addons/report/models/repor

[2018-05-12 04:01] adihat commented on #2367
@Mathlight Thanks for the solution. worked for me too

[2018-05-12 05:05] ashkulz commented on #2711
I tried to reproduce it, but it doesn't crash for me on Ubuntu 18.04.
[code]
The SSL errors are because of  #3001, not sure if they are relevant to your testcase. Can you let me know what OS you are running on and what packages/fonts are installed?

[2018-05-14 01:34] nrg294 commented on #3487
should this be added to documentation so that people have somewhere to reference when they face this problem in the future?

[2018-05-14 01:36] nrg294 commented on #3147
this issue has not been commented on for a while any update?

[2018-05-14 07:08] LindseyDurst commented on #3910
Put everything in here - https://github.com/LindseyDurst/test
command line:
`wkhtmltopdf cover bug_title.html toc --xsl-style-sheet toc_template.xsl bug_body.html --header-html bug_header.html --footer-html bug_footer.html test.pdf`
the result pdf is in the repository as well - test.pdf
os - Kali
wkhtmltopdf 0.12.3 (with patched qt)
Will try dev packages later and inform you about the results.
Tha

[2018-05-14 07:30] pawepaw opened #3912 "How to pass repeatable arguments (i.e replace or cookie ) by using wkhtmltopdf_set_object_setting function"
Hi,

I'm consuming your c library in c# and i am not pretty sure how to call wkhtmltopdf_set_object_setting with repetable arguments. I tried to analyze code but i am not C black belt so i need help. In particular i wanted to pass multiple strings to be replaced in footer/header using replace parameter and i wonder how to do that.

Could you help me?

[2018-05-14 08:02] LindseyDurst commented on #3910
Okay, i realized that when you put header and footer after toc and then after html doc then it shows up on both:
`wkhtmltopdf cover bug_title.html toc --xsl-style-sheet toc_template.xsl --header-html bug_header.html --footer-html bug_footer.html bug_body.html --header-html bug_header.html --footer-html bug_footer.html test.pdf`
But it still doesnt work for the cover page. I read somewhere that wlh

[2018-05-14 08:07] robsdedude commented on #2579
I'm using wkhtmltopdf 0.12.3 (with patched qt) on linux and

    $ wkhtmltopdf -q --encoding utf8 --print-media-type --dpi 600 something.html output.pdf

produced the exact same pdf as

    $ wkhtmltopdf -q --encoding utf8 --print-media-type --dpi 300 something.html output.pdf

[2018-05-14 08:44] robsdedude commented on #2579
Related: #2156

[2018-05-14 09:42] alagiyanirav commented on #3909
I am also facing the same issue on DigitalOcean.
Any help?

[2018-05-14 14:14] Lex-90 opened #3913 "CSS "page-break-..." property"
Hello,
I am using wkhtmltopdf to convert to PDF a single (large) html file. I noticed that the CSS "page-break-after" and the "page-break-before" properties are not rendered. Is supporting these properties a feature that you will add?
Thanks,
Alex

[2018-05-14 15:10] BenoitDuffez commented on #3088
I couldn't edit my HTML to fit one page exactly, I had one image that had to take the whole height (not printable, just for display). This generated a second page. Resizing the HTML to be one pixel less high removed the 2nd page, but it added an ugly bottom margin of one pixel.

I could remove the second page by hacking the generated PDF: I replaced the (only) occurrence of `/Count 2` with `/Count

[2018-05-14 16:19] BorderCloud commented on #3596
@NiR- not news about ES6 ?
Thanks

[2018-05-14 18:10] thite opened #3914 "wkhtmltopdf dependency problem in Ubuntu 18 LTS"
Cannot install wkhtmltopdf in Ubuntu 18 LTS from link -
https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz

[2018-05-15 04:28] ashkulz commented on #3914
Duplicate of #3001 -- use the 0.12.5 builds, there is a package for bionic.

[2018-05-15 04:29] #3914 closed

[2018-05-15 04:33] ashkulz commented on #2711
Looks like this is very much environment specific, so can't debug it without a reproducible crash.

[2018-05-15 08:35] JonaLieb commented on #3880
@alankarglobant Hi I was wondering if you found a solution for this yet? I need to do the same.

[2018-05-15 08:38] JonaLieb commented on #3072
Please I also need watermark support.

[2018-05-15 09:01] alankarglobant commented on #3880
@JonaLieb,

Yes, I am able to show an image as watermark on every page of PDF, but it is not actually set in the background as a watermark. I have applied a trick here, what I did is just placed the image on the content of every page of PDF with minimum opacity.

As this we need on every page I have placed the code in the header view file. ( the view which represents the pdf header)

Here is the s

[2018-05-15 09:05] hakimio commented on #3913
I am using `page-break-after` and `page-break-inside` and they work just fine for me.

[2018-05-15 09:26] sayajin101 commented on #2078
Also getting the same issue with 0.13.0-alpha-7b36694

[2018-05-15 10:37] JonaLieb commented on #3880
@alankarglobant ,

Thank you very much, this will definitely help me!

[2018-05-15 11:27] LDWX commented on #3787
@wonderFF 兄弟，你的问题解决了没？我也遇到这个问题了，跪求啊

[2018-05-15 11:28] LDWX commented on #3787
@summerDan 兄弟，请问你的项目后来能导出pdf了吗？你也是vue项目吧，我的导出来是空白呀

[2018-05-15 12:52] Yajo commented on #2711
With this `Dockerfile`:

[code]

Build it and execute it:

    docker image build --tag test .
    docker container run --rm -it test

Results in my machine:

[code]

[2018-05-15 13:11] ashkulz commented on #2711
@Yajo: thanks, I'll take a look. It clearly shows the off-by-one error (page 3 of 2).

[2018-05-15 23:58] beaorn opened #3915 "How-to repeat dynamic content after page breaks (not in a table)?"
I have div elements set with nobreak classes on them that contain various dynamic headings that is specific to the content in that div. These heading sections are not table based and not necessarily even in a standard format using the same HTML structure, but could be put in a div with a class to group it.

Is there any way that if a page break does happen inside this div with nobreak that dynamic

[2018-05-16 03:30] andreaolivato opened #3916 "0.13 - static binary linux amd64"
Is there any way to have a static binary for amd64 on linux like for the stable version?

Otherwise I get the following error:

`The switch --enable-external-links, is not support using unpatched qt, and will be ignored`

Alternatively, is there a way to build our own static binary on Centos? Tried running the building script but it only supports Ubuntu/Debian.

Many thanks

[2018-05-16 07:09] smartyjagadish opened #3917 "Exit with code 1 due to network error: ContentNotFoundError"
Hi,

I am using this command. Can you please let me know what is the exact issue here. This error is coming 40% of times.

Client Says :{"source":"https://ph.via.com/itinerary/FMNPH30IK9RAZL","type":"url","uniqueId":"FMNPH30IK9RAZL","hasToc":false} for unique Id FMNPH30IK9RAZL
Got exception for unique Id FMNPH30IAW2RT6java.lang.RuntimeException: Process (/usr/local/bin/wkhtmltopdf --javascript-del

[2018-05-16 07:58] Yajo commented on #2711
Thank you, it took me hours to get a completely reproducible case! This is a hard bug...

If you fix it, I think you'll get a :trophy: in the next OCA Code Sprint, if you want to come see us! :blush:

[2018-05-16 11:14] devchacha opened #3918 "ProtocolUnknownError"
Hello, I have issue got **code 1 due to network error: ProtocolUnknownError.**
I don't know how to fixed it cause I'm tried fixed everything on you all advice.
Please help ><  wkhtmltopdf version : 0.12.4
![capture](https://user-images.githubusercontent.com/38471605/40113542-03677706-5934-11e8-9d6a-7f4b4455ca18.JPG)

**In snappy.php**
![capture2](https://user-images.githubusercontent.com/38471605/

[2018-05-16 13:05] tkyol commented on #3241
Any news on that fix @ashkulz?

[2018-05-16 14:49] elainebyrne commented on #3909
No, i'm still waiting for input from the core team here.

[2018-05-16 22:23] amra opened #3919 "Header-html is not inserted at all"
Wkhtmltopdf does not insert header, it just inserts footer only.
Using `wkhtmltopdf 0.12.4 (with patched qt)`.

Command: `wkhtmltopdf --footer-html wk-footer.html --header-html wk-header.html wk-body.html wk-out.pdf`

Used files are attached in `test.zip`.
[test.zip](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2010998/test.zip)

It's not possible to use other parameters, which insert header,

[2018-05-17 02:41] LDWX opened #3920 "can not work with Single page application"
I have a Single page application with vue, and when I use wktmltopdf to get a pdf file, it's blank.
Accordding to my analysis it's caluse by my Single page application, that this tool can not get any
context from the web's source code.
How can I use this tool in my Single page application, please?

The source code is below:
![image](https://user-images.githubusercontent.com/8693316/40153980-c826f4

[2018-05-17 06:45] thite opened #3921 "wkhtmltopdf doesn't support odoo on Ubuntu 18.04"
Hi @ashkulz ,

This is a well-known issue regarding the Trinity: WKHTMLTOPDF-ODOO-UBUNTU 18.
When I try to print pdf in odoo, it generates a blank pdf (the size is 306 bytes).
I need to run Odoo 11 on Ubuntu 18 LTS.

[2018-05-17 07:18] ashkulz commented on #3921
Duplicate of #3898 and #3914

[2018-05-17 07:18] #3921 closed

[2018-05-17 10:32] ashkulz commented on #3241
Working on the macOS build, definitely should be done by Saturday.

[2018-05-17 12:50] tkyol commented on #3241
awesome @ashkulz

[2018-05-18 21:33] Jonnathangte68 opened #3922 "Problems with Ionic Beaver"
admin@srvr58:~/jonnathanaha$ sudo dpkg -i wkhtmltox-0.12.1_linux-trusty-amd64.deb
Selecting previously unselected package wkhtmltox.
(Reading database ... 79244 files and directories currently installed.)
Preparing to unpack wkhtmltox-0.12.1_linux-trusty-amd64.deb ...
Unpacking wkhtmltox (0.12.1) ...
dpkg: dependency problems prevent configuration of wkhtmltox:
 wkhtmltox depends on fontconfig; ho

[2018-05-19 02:37] ashkulz commented on #3922
Duplicate of #3898

[2018-05-19 02:37] #3922 closed

[2018-05-19 15:46] alagiyanirav opened #3923 "Exit with code 1 due to network error: UnknownNetworkError"
Command:  wkhtmltopdf https://google.com google.pdf

Loading pages (1/6)
QSslSocket: cannot resolve CRYPTO_num_locks                  ] 10%
QSslSocket: cannot resolve CRYPTO_set_id_callback
QSslSocket: cannot resolve CRYPTO_set_locking_callback
QSslSocket: cannot resolve sk_free
QSslSocket: cannot resolve sk_num
QSslSocket: cannot resolve sk_pop_free
QSslSocket: cannot resolve sk_value
QSslSocket:

[2018-05-19 17:02] ashkulz commented on #3923
Duplicate of #3001

[2018-05-19 17:02] #3923 closed

[2018-05-20 12:11] au9ustine commented on #3893
Same issue here

## Environment
* os: macOS 10.13.4
* version: 0.12.4

## Input

A HTML file

[code]

Previewed as
<img width="924" alt="image" src="https://user-images.githubusercontent.com/143927/40278767-bbd8b826-5c69-11e8-94be-bbd66582cc6b.png">

## Build Command

[code]

## Output

A PDF file with mismatched formatted formula

Previewed as
<img width="488" alt="image" src="https://user-images

[2018-05-20 15:18] kripper commented on #1627
@giansalex, please create a pull request if your patch works.

[2018-05-20 23:42] landsman commented on #3578
:D lol

[2018-05-21 01:30] LDWX opened #3924 "The wkthmltopdf doesn't work in my project."
When I use static web page, the wkhtmltopdf work well.
But when I use fetch(a http request) in my project, I can only get a blank pdf file.

[2018-05-21 01:58] landsman commented on #3631
This is still problem by default.

[2018-05-21 02:05] landsman commented on #2435
What about improve this library rather some special editing font-face using etc?

[2018-05-21 06:33] alagiyanirav commented on #3923
Hi Ashish,
Thanks for your valuable feedback.
I have already gone through #3001  but unable to find steps for the solution in Ubuntu 18.04.
I really appreciate your help.
Thanks

[2018-05-21 12:16] DarthLegiON commented on #3578
@Asugusto @landsman Pastebin is for loosers! 🤣

[2018-05-21 14:14] RaulTsc commented on #2078
Any updates on this one? :)

[2018-05-21 14:15] welsby commented on #3241
Just hit the same issue, glad to know it's a known issue. Will hold fire until the next release.

[2018-05-21 15:46] vuongabc92 opened #3925 "Javascript give the wrong div height"
Hi guys,

I'm currently facing a weird issue, I have tried many days to fix it but I can't.
For example I have a `<div>` and I want to get the div's height so I have a script:
`document.getElementById('aaa').clientHeight`; (or in jquery `$('#aaa').height()`) but the div's height depends on the numbers of spacing in the div's content

`<div id="aaa">hahaha</div>`   ---> give 22px
`<div id="aaa">hah

[2018-05-21 16:17] ashkulz commented on #3241
so, I've got a build but I need volunteers who will test it, preferably on older macOS versions. Anyone?

[2018-05-21 16:35] geoidesic commented on #3241
Mac OS X v10.12.6.. happy to test if there are clear instructions for installation (I've previously used homebrew, which is at v0.12.4)

[2018-05-21 17:48] jmclulus opened #3926 "Newest version generates cut-off PDF with same code and data"
Hello!  So, I've got an HTML page that is mostly tables and I'm having an issue where on one server we've got version 0.9.6 and with that version, the PDF looks perfect, aligned with the page... however with the EXACT same code and data, changing only the version of WKHTMLTOPDF to 0.12.4 causes the same code to generate a PDF with it's right side cut off... any ideas what I can do about this other

[2018-05-21 19:07] tomfortmuller commented on #3699
Has a workaround for this been determined? I'm having the same issue. A PDF is generated on the server and downloaded by the client. If the client then uploads that same PDF, the detected mime type is application/octet-stream (same as unknown).

[2018-05-21 19:44] lkraider commented on #3241
@ashkulz please send me a copy, I am on macOS 10.11.6 and might be able to test on 10.9 as well.

[2018-05-22 03:27] ashkulz commented on #3241
Sorry for the delay. I've been porting to a new [vagrant-based build system](https://github.com/wkhtmltopdf/packaging/commits/9eea71246247d5b94184e34c27432cada4e01a92) which would ensure that anyone can easily create builds if required.

So where I got stuck is that I'm statically linking to OpenSSL (as the macOS OpenSSL is 0.9.8z, which is too old) and it is supposed to require manually creating

[2018-05-22 03:38] ashkulz commented on #2711
So, haven't really had time to look into this (working on finishing builds for macOS and Windows) yet, hopefully will do it early next week.

[2018-05-22 03:48] bagaimana-cara-membuat opened #3927 "Wrong position on multiple thead"
Hi, I'm having trouble when applying two table headers, this is my html code:
`<table class="mytable" border="1" cellpadding="5">
        <tr nobr="true">
                <th align="center" width="130pt" colspan="2">NOMOR</th>
                <th align="center" width="200pt" rowspan="2">NAMA</th>
            </tr>
        <tr nobr="true">
                <th align="center" width="40pt">URT</th>

[2018-05-22 11:59] kheengz commented on #3001
**For Ubuntu 14.04:**
`apt-get install openssl=1.0.1f-1ubuntu2`
`apt-get install libssl-dev=1.0.1f-1ubuntu2`
**For Ubuntu 16.04:**
`apt-get install libssl1.0.0=1.0.2g-1ubuntu4`
`apt-get install libssl-dev=1.0.2g-1ubuntu4`

[2018-05-22 12:02] alagiyanirav commented on #3001
Any help for Ubuntu 18.04

[2018-05-22 12:11] ashkulz commented on #3001
Use the package for 18.04 linked above.

[2018-05-22 12:19] morganzysman commented on #2736
Any updates on that ?

[2018-05-22 12:21] morganzysman commented on #3920
Have you had a change to solve this ?

[2018-05-22 14:32] saurabh-prohaktiv commented on #3850
Any updates on the release?

[2018-05-22 14:43] ashkulz commented on #3850
Still working on the release process, rc should be out this weekend. Builds for all platforms are available and there won't be changes till final release, unless there is feedback on the rc.

[2018-05-22 15:26] oberoivarun commented on #3782
@virajshah2503  I'm facing the same issue. Any luck with a solution? My view renders fine on it's own but not as a pdf.

[2018-05-22 15:27] oberoivarun commented on #3782
@virajshah2503  I'm facing the same issue. Any luck with a solution? My view renders fine on it's own but not as a pdf.

[2018-05-22 16:41] mb21 commented on #3241
@ashkulz `wkhtmltopdf https://github.com/ foo.pdf` works for both carbon and cocoa versions.

For this issue, see the attached pdfs, generated from the test.txt attached in the above post. Doesn't look good:
[0-12-3.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2027630/0-12-3.pdf)
[0-12-5-dev-carbon.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2027631/0-12-5-dev-carbon.pdf)
[0-12-

[2018-05-22 20:56] geoidesic commented on #3241
@Lazza Yes it is retina

[2018-05-23 02:08] LDWX commented on #3920
@morganzysman sorry I don't have. I figure out that this is casused by http request, but I don't know how to fix it.

[2018-05-23 02:37] x2009again opened #3928 "10⁴ of the page is displayed as 10"
Some characters cannot be displayed，like 10⁴

[2018-05-23 06:07] gokulk16 commented on #2187
Same error. there should be an option created for handling this `ContentNotFoundError`.
Also in most cases, those are images.

[2018-05-23 06:28] gokulk16 commented on #3917
#2187 same issue. occurring many times, seriously in need of a  fix.

[2018-05-23 08:40] yehudahkay commented on #2443
+1

[2018-05-23 09:09] michael-schaefer-eu commented on #3920
Try it with an absolute URL in your script tag:
`<script src="http://yourdomain.com/app.js">`

wkhtmltopdf cannot resolve relative URLs. Also for Images and CSS.

[2018-05-23 11:51] smartyjagadish commented on #3917
We are sending logo in html content. If that logo url is not accessible, At that time this error is coming.
After we fixed that url, Issue fixed.

[2018-05-23 13:55] igorfaria6 commented on #1524
this code work for me

page-break-inside: auto !important;
}

thead {
display: table-header-group !important;
}

tfoot {
display: table-row-group !important;
}

tr {
page-break-inside: avoid !important;
page-break-after: auto !important;
}

td, th {
page-break-inside: avoid !important;
}

.table-responsive {
overflow: visible !important;
}

find in https://www.bountysource.com/issues/1868736-overl

[2018-05-23 17:04] PhilterPaper commented on #3928
The superscript is missing? How is it defined in the original HTML: `<sup>4</sup>` or as a Unicode character such as `x2074`? If the latter, it's possible that the particular font file being used does not define superscripts.

[2018-05-24 00:57] lkraider commented on #3241
@ashkulz I have created some test scripts: [test-scripts.zip](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2033333/test-scripts.zip)

It tries rendering with different DPI settings, and also different SSL websites:\

- modern SSL: https://mozilla-modern.badssl.com/
- self signed: https://self-signed.badssl.com/
- custom root CA: https://verificador.iti.gov.br/

I ran both the carbon and cocoa

[2018-05-24 02:13] ashkulz commented on #3241
Okay, thanks for the detailed testing! It looks like OpenSSL is somehow getting root certificates, as it warns on self-signed or custom CA (maybe getting bundled in the build process?) -- needs investigation.

With respect to the size difference, the DPI was standardized/hard-coded to 96 across all platforms in the PR linked above -- earlier it was 72, so some amount of "shrinking" is expected (th

[2018-05-24 08:02] JochenJung commented on #1770
tr { page-break-inside: avoid }

Worked for me, when the table spanned across multiple pages having multiple rows.

However when there is a single row in the table that spans across more then one page, the issue is still present.

[2018-05-24 12:17] gokulk16 opened #3929 "Any way to install the recent version of wkhtmltopdf in Ubuntu 14.04 server"
Is any ppa: or any repository to pick the version of `wkhtmltopdf` ?
any way to install with `apt-get `
Need v0.12.4 to be installed in ubuntu 14.04 server
`apt-get` way installs v0.12.0 (final), but need v0.12.4

[2018-05-24 12:19] gokulk16 commented on #3929
@ashkulz can you please mention if any ways to install v0.12.4 in Ubuntu 14.04 by `apt-get`

[2018-05-24 12:49] hakimio commented on #3929
No, you can not install 0.12.4 via "apt-get" but you can just use pre-built binary distribution released here on github.

[2018-05-24 12:54] hakimio commented on #3919
You are missing `<!DOCTYPE html>` in your header and footer html.

[2018-05-24 13:18] amra commented on #3919
You are absolutely right!!! I tested that and it's working ;-)
It would be nice to add this information to the documentation.

[2018-05-24 13:18] #3919 closed

[2018-05-24 13:19] gokulk16 commented on #3929
@hakimio yeah, tried installation with `wkhtmltox-0.12.4_linux-generic-amd64.tar.xz` but `./configure && make install` fails after extraction.

[2018-05-24 13:21] #3929 closed

[2018-05-24 19:17] gokulk16 commented on #3929
Thanks @hakimio @ashkulz .
` mv wkhtmltox/bin/wkhtmlto* /usr/bin `
This worked for me.

[2018-05-25 12:33] ashkulz commented on #2711
Hopefully with a fix for this issue, rc with builds for all platforms out this weekend.

[2018-05-25 14:04] robinbetts commented on #1981
If anyone is still seeing wktemp files left behind and are using the c bindings, rather than the command line, see pull request #3930

[2018-05-25 14:31] xmontero commented on #2999
For me, the SVG trick "improves" but not completely "solves" the problem.

My font is `font-family: 'Titillium Web'` from google fonts. I used that herokuapp trick to download the SVGs.

My orginal PDF (getting the font from google-fonts, thus in `woff2` format) was formatted like this:

![image](https://user-images.githubusercontent.com/5641621/40549216-271fd0e4-6037-11e8-92e5-1eb2d970e160.png)

[2018-05-25 15:27] susajsnair commented on #3195
So far no fixes found. :(

[2018-05-26 18:18] PhilterPaper commented on #2999
A few questions to ask, when trying to diagnose this:

1. Is the text stored in the PDF as ASCII text, UTF-8 text, or as a graphics image or graphics instructions?
2. Is this Montserrat font embedded in the PDF file, or is it found on the PC with the PDF reader?
3. When used with a browser or PDF created with something other than wkHTMLtoPDF (e.g., Word), is the same problem seen when using this f

[2018-05-26 19:48] graingert commented on #2999
You should be able to get the answers from the example PDFs I posted

On Sat, 26 May 2018, 19:18 Phil Perry, <notifications@github.com> wrote:

[2018-05-27 10:58] pgee70 opened #3931 "issue with javascript date string parsing."
If you use javascript to render a date using a valid date string using the parsing constructor an invalid date is returned.
According the [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date) the date constructor:
var newDate = new Date('2018-01-01');
should work.
so with a test case:

[Archive.zip](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2042517/Arc

[2018-05-27 11:12] xmontero commented on #2999
@PhilterPaper for question 1, if I open the PDF in a notepad, I see mainly binary data:

![image](https://user-images.githubusercontent.com/5641621/40585245-9fd152c8-61af-11e8-9f63-eb15f7b698cb.png)

How can I "de-compress" the content to differentiate if the text in the PDF was placed as text or it was converted to curves?

[2018-05-27 11:15] xmontero commented on #2999
This is the "ending part", I don't know if there's any trick there:

![image](https://user-images.githubusercontent.com/5641621/40585269-ffca888e-61af-11e8-9a8f-54783a9e753c.png)

[2018-05-27 11:32] PhilterPaper commented on #2999
I think that a utility such as PDFtk can do this: `PDFtk doc.pdf output doc.unc.pdf uncompress`. Then you can see if there's some text matching "HelloTrip", etc. Note that it's possible that there's microjustification going on, and characters may be laid down and positioned one at a time so you won't see big chunks of the expected text. I see you use DejaVuSans font, are there any others?

[2018-05-27 12:03] xmontero commented on #2999
@PhilterPaper Once uncompressed, I can see the text itself is **not** there. It seems rendered by "text-converted-to-curves", instead.

This is coherent with these two facts:

1. The problem was mainly in the "shape of some letters". If it was text, this would probably lack of sense.
2. In my regular PDF viewer I can't select the text. I didn't try it before, but when testing this, I just wanted t

[2018-05-27 18:11] #3316 closed

[2018-05-27 20:27] PhilterPaper commented on #2999
Well, at least you've figured out what's going on! I have no idea why it would choose to render text as graphics (curves) rather than text (with either an embedded font or counting on it being on the reader). I would think it would be very little space savings, and a lot of extra prep time. If this is a choice of WebKit rather than wkHTMLtoPDF's code, I don't know what to do about it.

[2018-05-27 22:41] xmontero commented on #2999
Well I'd rather resist to believe that an important tool like `wkhtmltopdf`, so widely used, cannot really render text instead of curves...

I wonder...

Do "all" other users get curves? Or is there anybody out there that gets text?

I'd like to distinguish if "wkhtmltopdf itself is not able to render text", or "I did not manage to use/configure it".

[2018-05-28 00:08] jonnygrant opened #3932 "TXT output"
Great package!
Any chance of adding TXT output?

[2018-05-28 06:27] ranadeepbhuyan commented on #3924
@LDWX  this works for me, can you try to see if there is a delay in loading the webpage? it may time out.

[2018-05-28 10:31] nemish-doshi opened #3933 "Error loading PDF when more than 40 pages"
Loading pages (1/6)
Warning: Received createRequest signal on a disposed ResourceObject's NetworkAccessManager. This might be an indication of an iframe taking too long to load.
Warning: Received createRequest signal on a disposed ResourceObject's NetworkAccessManager. This might be an indication of an iframe taking too long to load.
Counting pages (2/6)
Warning: Received createRequest signal on a

[2018-05-28 10:33] nemish-doshi commented on #3933
Hi Team,

We are using latest version 0.12.4.0

Thanks,
Nemish

[2018-05-28 11:36] chris74a opened #3934 "html. with 2 svg, one is not rendered"
Hello,

I have a simple table with 2 svg.
The html version render the 2 svg.

With wkhtmltopdf, the first is rendered, not the second one. The 2 svgs are existing, event the 2nd. https://localhost:44345/images/contract/ECPY-left.svg  returns 200
I do not understand why the second one is not displayed.

Thanks

===Html Template

[code]
====

[2018-05-29 06:28] gokulk16 commented on #2380
ExitCode | Explanation
-- | --
0 | All OK
1 | PDF generated OK, but some request(s) did not return HTTP 200
2 | Could not something something
X | Could not write PDF: File in use
Y | Could not write PDF: No write permission
Z | PDF generated OK, but some JavaScript requests(s) timeouted
A | Invalid arguments provided
B | Could not find input file(s)
C | Process timeout

As I believe code 1 and Z c

[2018-05-29 07:29] sanjay205 commented on #1870
Adding Cookie in custom header like "--custom-header Cookie" worked for me.

This is my sample command :

wkhtmltopdf --header-html http://localhost:52127/ProposalDocument/_Header --footer-html http://localhost:52127/ProposalDocument/_Footer --custom-header Cookie ".AspNetCore.Antiforgery.5uYu5VgZzcE=abc123;JWTToken=xyz123;.AspNetCore.Cookies=xyzabc123" --no-custom-header-propagation http://localh

[2018-05-29 07:32] sanjay205 commented on #1903
Adding Cookie in custom header like "--custom-header Cookie" instead of using [page] worked for me.

This is my sample command :

wkhtmltopdf --header-html http://localhost:52127/ProposalDocument/_Header --footer-html http://localhost:52127/ProposalDocument/_Footer --custom-header Cookie ".AspNetCore.Antiforgery.5uYu5VgZzcE=abc123;JWTToken=xyz123;.AspNetCore.Cookies=xyzabc123" --no-custom-header-p

[2018-05-29 09:36] ashkulz commented on #3932
That's not really in scope.

[2018-05-29 09:36] #3932 closed

[2018-05-29 12:53] Darker opened #3935 "Feature request: specific CSS for vkhtmltopdf?"
In CSS, you can limit CSS styles for specific applications - for example you can remove link styles from print versions:
[code]
It would be neat to have something like that for vkhtmltopdf, for example:
[code]

[2018-05-29 16:06] btjacker opened #3936 "some SVG rendered with scrollbars (in browser without)"
Hi guys,
this project is exactly what I was looking for. Everything is OK except one thing. Some of my SVG files render with scrollbarrs. They are created automatically by QCAD tools. Usually it is OK but time to times the scrollbars apear. I think it is conected with width and height attributes written in SVG file because if I change height of attached merge.svg file from 59mm to 60mm the scrollb

[2018-05-29 17:57] radio412 opened #3937 "TOC overflow"
I currently am creating a perfectly good PDF. there is nothing technically wrong with it. However, the TOC is ugly due tothe fact that the toc overflows into new pages.

The TOC is generated via xsl which is passed through jinja2. I have modified the XSL to match the client's branding and design precisely. However, the list keeps growing in height and causes the page to overflow.

Here is the curr

[2018-05-29 23:00] PhilterPaper commented on #2999
Does this happen (rending text as graphics) only happen on certain font files, or all of them? Those that it happens on -- do they have any characteristics that make them different from those which render as text? Internally, perhaps they're SVG or something instead of TTF/OTF? That's all I can think of.

[2018-05-30 03:53] ashkulz commented on #1524
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in PR wkhtmltopdf/qt#29 -- please test and report your findings (it's not a complete fix, but should improve the situation).

[2018-05-30 03:55] ashkulz commented on #1914
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in wkhtmltopdf/qt@c745cfd57fbba4f2fe6e17dc95d7a8a3a4c57829 -- please test and report your findings before the final release.

[2018-05-30 03:56] ashkulz commented on #3672
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in PR wkhtmltopdf/qt#38 -- please test and report your findings before the final release.

[2018-05-30 03:56] ashkulz commented on #3857
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in PR wkhtmltopdf/qt#38 -- please test and report your findings before the final release.

[2018-05-30 03:59] ashkulz commented on #3680
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the build system fixes which includes static OpenSSL -- please test and report your findings before the final release. Additionally, I've updated the Travis CI configuration to test the latest Xcode image available.

[2018-05-30 03:59] ashkulz commented on #3900
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in wkhtmltopdf/qt@61988292fe59c099f875251b443a34352074487f -- please test and report your findings before the final release.

[2018-05-30 04:01] ashkulz commented on #1870
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made for this issue -- please test and report your findings before the final release.

[2018-05-30 04:01] #1870 closed

[2018-05-30 04:04] ashkulz commented on #3090
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in your PR #3206 -- please test and report your findings before the final release.

[2018-05-30 04:05] ashkulz commented on #3241
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes mentioned above -- please test and report your findings before the final release (other than the font size differences, which are a known change due to standardizing the DPI to 96).

[2018-05-30 04:06] ashkulz commented on #3001
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes updated packages which would fix this issue -- please test and report your findings before the final release.

[2018-05-30 04:09] ashkulz commented on #3476
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in #3878 -- please test and report your findings before the final release.

[2018-05-30 04:09] #3476 closed

[2018-05-30 04:14] ashkulz commented on #2609
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) which includes the fixes made in PR #3440 -- please test and report your findings before the final release.

[2018-05-30 04:45] ashkulz commented on #3850
A release candidate [is available](https://wkhtmltopdf.org/downloads.html#release-candidate) -- please test and report your findings before the final release, which should happen by next weekend.

[2018-05-30 05:36] OskarStark commented on #2609
hey @ashkulz thank you 👍

could you make the RC available on github releases:
https://github.com/wkhtmltopdf/wkhtmltopdf/releases

[2018-05-30 07:47] hakimio commented on #3931
From [MDN page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse):

[2018-05-30 07:49] OskarStark commented on #2609
ok thank you

[2018-05-30 08:34] chourie2 opened #3938 "Canvas Context : setLineDash with empty array provoke exception"
Hello,

This issue is related to issue #2353 that was fixed in 0.12.4. My OS is Windows 10 version 1709.

I encounter an error (with application crash) when calling the function setLineDash with an empty array parameter to draw a solid line without dash. Such call leads probably to an null pointer exception on the call of context.setLineDash (line 184 of JSCanvasRenderingContext2DCustom.cpp).

Bas

[2018-05-30 09:28] nemish-doshi commented on #3933
Hi Team,

Any update on this issue?

Thanks,
Nemish

[2018-05-30 13:46] pawepaw commented on #3912
after deeper searching i found that someone else also had troubles with finding documentation and he answered how to use wkhtmltopdf_set_object_setting with repeatable arguments - list.

https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3845

So i think to avoid missleading that should be added to documentation.

[2018-05-30 14:02] ashkulz commented on #3912
Not sure whether the API will exist in future versions, as in process support is being removed from all browser engines.

[2018-05-30 19:01] jmzagorski commented on #3597
@ashkulz 👍 your suggestion worked...thanks

[2018-05-31 11:20] sanjay205 commented on #2890
@vinodkumar1080
Can u please tell how did u rectified to add borders to page??

[2018-05-31 15:05] hassenc commented on #3287
Same problem here. `--dpi` is not affecting my server.

[2018-05-31 18:43] suryart commented on #3241
Running Mac OSX 10.13.4: Ran RC release and I can confirm that font size is back to normal and HTML is being converted to pdf as expected. Thanks.

[2018-05-31 20:16] lkraider commented on #3241
Release candidate seems to be working as expected here!

[2018-05-31 23:12] PhilterPaper commented on #3933
Being over 40 pages probably has very little to do with it. It sounds like it may be spending a lot of time loading external (offsite) resources, such as iframes, images, JS files, CSS files, etc. Is there a lot of Javascript code being processed? You might look at the several flags to increase time limits on processing JS and other things. I don't know if there are any flags specifically regardin

[2018-06-01 06:46] treviser commented on #3898
@Yenthe666 I did succesfully install and test the new build from @ashkulz , see https://www.odoo.com/forum/help-1/question/ubuntu-18-04-lts-how-to-install-wkhtmltopdf-0-12-1-134198

[2018-06-01 08:02] GipHub123 opened #3939 ""overflow: hidden" not respected?"
I'm trying to fit several images on a page but last image seems to cause problems if image's height (for example: 450px) is actually greater than image container (450px).
In this case wkhtmltopdf drops image out of the pdf because it think that it doesn't fit on a page. It looks like it doesn't respect overflow-attribute.

Is there any way around it?

I'm using version 0.12.4

.container {
    hei

[2018-06-01 12:14] nemish-doshi commented on #3933
Hi Team,

We are loading many images in base64 format inside PDF and looks like few of the images are not getting loaded. HTML is generated properly but PDF generation is partial only.

Command which we are using is as below:

wkhtmltopdf.exe --header-html header.html --footer-html footer.html page pretoc.html toc --xsl-style-sheet styles.xsl posttoc.html output.pdf

Please see to it and let me kn

[2018-06-01 14:16] srisatyak commented on #3924
I was also experiencing the same problem, Whem I was paasing a URL with parameters seperated by '&' it is not converting the page to pdf.

[2018-06-01 14:44] Coderton opened #3940 "Delay Option"
Hi,

I am trying to use wkhtmltopdf and imgkit to convert a folium map (native html) into a png.  The folium map requires time to render the html (1-2 seconds).  Would it be possible to add a delay parameter to account for render time?

Thanks,
m

[2018-06-01 14:46] ashkulz commented on #3940
use the `--javascript-delay` option

[2018-06-01 14:46] #3940 closed

[2018-06-01 16:42] jacobhaven commented on #3001
@ashkulz This RC fixed the issue for us. Thanks!

[2018-06-01 17:09] csiefer commented on #3001
Thanks a lot!

[2018-06-03 20:55] ndemou commented on #3238
Has anybody found any workaround for this (displaying footers at the bottom of pages). I'm not a CSS expert and after spending an hour to make a report print just fine from my browser I stepped on this bug :-(

[2018-06-04 02:29] ashkulz commented on #2711
So, 6f77c4640a760d1297ad4d3441c12b8e9651245a should fix this issue. For the specific testcase above, it would generate 3 pages (due to the layout changes between phases) vs 2 pages generated consistently now. As a bonus, it should also speed up the "printing" phase.

I've triggered off the creation of a new `-rc` build, which should take ~10-12 hours to complete.

[2018-06-04 02:34] ashkulz commented on #2894
So, in #2711 someone gave a reproducible test case under docker and I was able to figure out **why**  the page count was changing and fixed it in 6f77c4640a760d1297ad4d3441c12b8e9651245a. I've triggered a `-rc` build which should include this fix, please follow the other ticket for updates.

[2018-06-04 02:34] #2894 closed

[2018-06-04 03:05] ashkulz commented on #3653
Duplicate of #2711 which has a fix

[2018-06-04 03:05] #3653 closed

[2018-06-04 12:05] ashkulz commented on #2150
This has been implemented in the [new packaging system](https://github.com/wkhtmltopdf/packaging).

[2018-06-04 12:05] #2150 closed

[2018-06-04 13:57] ashkulz commented on #2711
So, [the release candidate with fix](https://wkhtmltopdf.org/downloads.html#release-candidate) is now up via 2cf4f5bccb41cccd37c7dc48732df884079001d2. Please test and report back if you face any issues -- barring any build system changes, this will be what gets released this weekend.

[2018-06-04 13:57] #2711 closed

[2018-06-04 14:26] Dgallaher opened #3941 "Server screen goes black"
Hi
I have installed wkhtmltopdf 0.12.4 on 3 different windows server 2012 R2 servers

a few hours after using the software (normally during the night) my server screen becomes black and the only way to get it back is to do a hard reboot. I have this issue on 3 different servers. As a work around I set the servers to reboot nightly but ideally I would like to resolve the issue without the reboot.

[2018-06-04 16:40] ashkulz commented on #3941
Unrelated to wkhtmltopdf.

[2018-06-04 16:40] #3941 closed

[2018-06-04 16:44] Dgallaher commented on #3941
the only servers that have this issue is the servers that have wkhtmltopdf

I had it on a 4th server and uninstalled wkhtmltopdf and the issue went away.

[2018-06-04 16:45] ashkulz commented on #3941
Correlation is not causation, can't help you unless you are able to prove that it happens due to wkhtmltopdf.

[2018-06-04 16:48] Dgallaher commented on #3941
denial is not resolution either,
is there any way to run this in debug or someway to generate a log file?

[2018-06-05 02:06] flier268 commented on #2820
I got a solution
don't use px or pt...etc ,use %
font-size don't us pt,use rem

This demo can get real font-size(html to pdf may be zoom,this code could auto fix font-size):
https://gist.github.com/flier268/07183c6e0a695eab6197447249bf9a7b

[2018-06-05 06:34] AKARTHEESWARAN commented on #1822
"The exit status code '127' says something went wrong:\nstderr: \"sh: 1: /usr/local/bin/wkhtmltopdf: not found\n\"\nstdout: \"\"\ncommand: /usr/local/bin/wkhtmltopdf --lowquality 'http://ourcodeworld.com' '/tmp/knp_snappy5b162bfc4d0622.24438523.pdf'.",
I have the above mentioned error please some help me

[2018-06-05 11:50] marcusorjames commented on #2713
Has this been put on the roadmap at all due to the constraints of the system I am working with it's a real pain to have to convert everything to not use protocol relative urls

[2018-06-06 08:48] ultramanbank commented on #1524
Dear sir,

This issue has been fix or not

[2018-06-06 09:13] Tomsgu commented on #1524
Dear @ultramanbank, can you please install RC, **test it** and give any feedback. This would be more helpful, than asking.

ashkulz clearly said: it's not a complete fix, but should improve the situation

[2018-06-06 10:18] algodave commented on #3241
I'm on a MacBook Pro (Retina, 15-inch, Late 2013) with OSX 10.11.6 and  `wkhtmltopdf 0.12.4 (with patched qt)` installed with `brew install homebrew/cask/wkhtmltopdf`.

While waiting for `0.12.5`, I'm passing `--lowquality` option and I'm getting PDFs with expected font sizes. Hope this helps someone else!

[2018-06-06 21:26] jffaria commented on #2721
@ampedandwired or @jayfthomas are you able to share a working html example? thanks!

[2018-06-07 06:13] arjunsuresh commented on #3609
For me also increasing the javascript delay fixed the issue.

[2018-06-07 07:55] Yajo commented on #2711
I tested on the test case I gave you and with production cases, and it works! Thanks!! :heart_eyes_cat:

[2018-06-07 08:06] ashkulz commented on #2711
See above, the final release will be this weekend unless there is negative
feedback about the rc build.

[2018-06-07 08:39] craue commented on #1914
Unfortunately, I can't see any difference in the results rendered with 0.12.4 and 0.12.5-rc (`wkhtmltox-0.12.5-0.20180604.140.rc~6f77c46~msvc2015-win64.exe`). Rotated text in thead is still missing on following pages.

[2018-06-07 09:32] ashkulz commented on #1914
@craue: the patch by @rruchte was not a full fledged solution, maybe you can share the exact scenario in which it is failing?

[2018-06-07 09:59] SpOOnman commented on #2684
I also had this problem with several documents and wkhtmltopdf 0.12.4 : "Page 4 of 3". I think this commit can solve this situation: https://github.com/wkhtmltopdf/wkhtmltopdf/commit/6f77c4640a760d1297ad4d3441c12b8e9651245a. It is a part of wkhtmltox-0.12.5-rc. I've downloaded binary for CentOS6, I've tested this today and it passed! With the same input data 0.12.4 fails and 0.12.5 works fine. I k

[2018-06-07 09:59] SpOOnman commented on #2510
I also had this problem with several documents and wkhtmltopdf 0.12.4 : "Page 4 of 3". I think this commit can solve this situation: https://github.com/wkhtmltopdf/wkhtmltopdf/commit/6f77c4640a760d1297ad4d3441c12b8e9651245a. It is a part of wkhtmltox-0.12.5-rc. I've downloaded binary for CentOS6, I've tested this today and it passed! With the same input data 0.12.4 fails and 0.12.5 works fine. I k

[2018-06-07 11:00] ashkulz commented on #3366
This should be fixed with `0.12.5-rc`, see #2711 for details.

[2018-06-07 11:01] ashkulz commented on #1806
This should be fixed with `0.12.5-rc`, see #2711 for details.

[2018-06-07 11:02] ashkulz commented on #3519
This should be fixed with `0.12.5-rc`, see #2711 for details.

[2018-06-07 11:03] #2510 closed

[2018-06-07 11:04] ashkulz commented on #2510
Thanks for tagging all the duplicate issues, @SpOOnman!

[2018-06-07 11:04] ashkulz commented on #2593
This should be fixed with `0.12.5-rc`, see #2711 for details.

[2018-06-07 11:04] #2593 closed

[2018-06-07 11:57] zejtin commented on #3835
Good day!

I have the same problem as @vmanu80 and nothing seems to solve this issue, I've tried all suggestions.

The quick-fix that I did is set zoom level a bit bigger(110%~120%), and shorten the left and right margin then it becomes readable

[2018-06-07 13:29] rruchte commented on #1914
@craue The patch covers cases like the following, where there is a rotated block inside the table head cell.

[code]

[2018-06-07 13:54] craue commented on #1914
I tried narrowing down the cause and found out that the header text is placed differently on following pages which in conjunction with other CSS (especially `overflow: hidden`) made it disappear completely.

code:
[code]

result page 1:
![test-page1](https://user-images.githubusercontent.com/800119/41104003-c078d76c-6a6a-11e8-9111-0923d34a2dc7.png)

result page 2:
![test-page2](https://user-images

[2018-06-07 14:05] rruchte commented on #1914
You may need to experiment with your CSS. I created the patch for a case where tables are repeating across many pages and it works as expected for us.

[2018-06-07 14:15] ashkulz commented on #3938
So, thanks for the detailed analysis. If nothing is done when an empty array is passed would it work? Because this patch would be obsolete once the WebKit version is upgraded (as it is a custom backport).

[2018-06-07 14:16] craue commented on #1914
@rruchte, shouldn't it be in the same place? Seems like the position calculation is flawed.

[2018-06-07 14:21] rruchte commented on #1914
@craue It is in the same place for my case. There is certainly room for improvement - I just hacked it up to get rotated headers working in a client project.

[2018-06-07 14:39] chourie2 commented on #3938
I think your suggestion would only prevent the crash, but not draw the line. That's still an improvement, but it might be possible to draw the line without recoding everything !

[2018-06-07 21:50] mnesrine opened #3943 "Pdf empty when use 'Segoe UI' font"
I had a strange problem when using wkhtmltopdf 0.12.4 (with patched qt) in Linux Ubuntu 16.04.4

If I use font-face 'Segeo UI', and the fonts is not available in the path defined in stylesheet,
the generated pdf does not contain a text and the pdf is empty (see attached issue_1.pdf).
In this case I noticed this warning
`Warning: Received createRequest signal on a disposed ResourceObject's NetworkA

[2018-06-08 09:31] extrahour commented on #3585
I'm having same issue by using Work Sans font on Linux. Changing format from woff2 to svg did solved the problem however file size increased dramatically: 100kb -> 8mb. On the one hand it makes sense as the letters are converted to SVGs on the other hand the fix is not really usable. Unless the PDF contains very few information.

[2018-06-08 10:39] saurabh-prohaktiv commented on #3850
I have tested 0.12.5-rc build and as for me it looks good, the dpi option works fine with mac and linux as expected. when is this going to be released?

[2018-06-08 10:53] ashkulz commented on #3850
Monday, if no major issues are reported with -rc build.

[2018-06-08 11:20] saurabh-prohaktiv commented on #3850
Ok, Thanks for the updates

[2018-06-08 13:07] tomacadi opened #3944 "Rendering issue, THAI character accents"
Hello,

I am running into some issues while rendering thai language.
Example text stored in bd as mediumtext:  ห้องพักนี้มีเตียงประเภทใด?

Accents get rendered differently:
<img width="260" alt="screen shot 2018-06-08 at 14 48 49" src="https://user-images.githubusercontent.com/8111562/41159288-4d201772-6b2c-11e8-958a-65201f5aa651.png">

It seems to be similar to this issue but I am using the lates

[2018-06-08 16:16] elbuki commented on #1522
From what I've investigated, wkhtmltopdf uses an old version of Qt WebKit. That's why it's not rendering flex elements correctly. I've managed to replicate this layout by adding:
[code]
And then I was shrinking the size of the elements until they fit together.

[2018-06-08 17:12] timlee1 opened #3945 "Why can't wkhtmltopdf download an Wikipedia article?"
Why can't wkhtmltopdf download an Wikipedia article? I am running the latest version i.e.  on Lubuntu 18.04:

`wkhtmltox_0.12.5-0.20180604.140.rc~6f77c46~bionic_amd64.deb `

Thanks.

[code]

[2018-06-08 17:43] ashkulz commented on #3945
can you check if 0.12.4 works? if so, please check if previous rc build (138) works from https://builds.wkhtmltopdf.org

[2018-06-09 00:33] timlee1 commented on #3945
See my update

[2018-06-09 02:55] ashkulz commented on #3945
Okay, doesn't l9ok

[2018-06-09 16:34] ashkulz commented on #3945
So, made a debug build and things worked -- which completely confused me. Then made a release build with debug information and was able to confirm that this is essentially [bug 65944](https://bugs.webkit.org/show_bug.cgi?id=65944) (incorrect code which can get miscompiled due to optimizations) -- a fix was made [long back](https://trac.webkit.org/changeset/92871) and will be applied when the under

[2018-06-10 10:04] ardabeyazoglu commented on #3001
Didnt fix for me. I tried both downgrading libbssl-dev and using 0.12.5-rc on ubuntu 14.04. The only difference is that ssl error messages disappeared in both methods. It is still stuck in the middle of `loading pages`.

[2018-06-10 13:09] ashkulz commented on #3525
`0.12.5` was signed with a GPG key, and I'll sign the sha256sums file as well once the binaries are uploaded.

not sure how to share the key, is there a recommended practice for that?

[2018-06-10 13:10] ashkulz commented on #2527
Downloads are now at Github, and checksums will be signed.

[2018-06-10 13:10] #2527 closed

[2018-06-10 15:44] timlee1 commented on #3945
Where can I download you fixed deb file?

[2018-06-11 05:13] ashkulz commented on #3001
@ardabeyazoglu: looks like a separate issue, then. I've already tagged `0.12.5` and started making the builds for all platforms.

[2018-06-11 05:15] ashkulz commented on #2711
`0.12.5` has been released, builds for all platforms will be uploaded in 5-6 hours.

[2018-06-11 06:04] ashkulz commented on #3938
So there's a PR with what I suggested already wkhtmltopdf/qt#35 -- might want to check it.

[2018-06-11 06:15] ashkulz commented on #3945
Try the 0.13 alpha builds, I'll be working on making a new build soon.

[2018-06-11 13:44] saurabh-prohaktiv commented on #3850
I can see that `0.12.5` has been released, however this release is missing `install.md` file and `scripts` folder which were present in `0.12.4` version, also it is not available at wkhtmltopdf.org/downloads.html, so is there any documentation to compile the latest release from source code?

[2018-06-11 13:58] ashkulz commented on #3850
The build scripts have moved to the [packaging repository](https://github.com/wkhtmltopdf/wkhtmltopdf) so that the build scripts are orthogonal to the main source repository (and new platforms/distros can be added later on) -- documentation is pending, and will be done as time permits.

This approach has proved its value immediately: I made an mistake in using `~` as part of the version for denoti

[2018-06-11 14:00] #3525 closed

[2018-06-11 14:03] saurabh-prohaktiv commented on #3850
Got it, Thanks for the updates!

[2018-06-11 15:16] rhuanbarreto commented on #2150
So, this issue is solved on wkhtmltopdf 0.12.5?

[2018-06-11 15:21] ashkulz commented on #2150
Yes.

[2018-06-12 05:15] EngEryx commented on #3001
I also noted that the URL to site or the path to HTML file to generate the PDF from, should not have a space anywhere due to the commands parsing.

For example: I was getting this error when I use this command: wkhtmltopdf /var/www/html/report farm a.html myawesomepdf.pdf

It will try to resolve the path from online which causes it to throw the error as in the first post of this thread.

[2018-06-12 05:51] pawepaw commented on #3912
hm? I don't get it. You are saying that c library probably will be no longer supported, only executable will me supported?

[2018-06-12 08:04] ashkulz commented on #3850
Packages are now available from the download page.

[2018-06-12 08:04] ashkulz commented on #3779
Packages for 0.12.5 are now available from the download page.

[2018-06-12 08:05] ashkulz commented on #3679
Packages for 0.12.5 are now available from the download page.

[2018-06-12 08:09] ashkulz commented on #3912
See [this blog post](https://blogs.gnome.org/mcatanzaro/2016/02/01/on-webkit-security-updates/) -- wkhtmtlopdf uses the WebKit1 API which is going to be removed. I assume you've heard of out-of-process rendering -- every browser is moving to that approach, and the old single-process mode is either removed or not tested at all.

[2018-06-12 08:39] ashkulz commented on #3525
Packages for 0.12.5 [are available](https://wkhtmltopdf.org/downloads.html#stable) using signed checksums.

[2018-06-12 08:39] ashkulz commented on #2527
Packages for 0.12.5 [are available](https://wkhtmltopdf.org/downloads.html#stable) using signed checksums.

[2018-06-12 08:39] ashkulz commented on #3246
Packages for 0.12.5 [are available](https://wkhtmltopdf.org/downloads.html#stable) using signed checksums.

[2018-06-12 08:53] giannidhooge commented on #3929
@ashkulz Any reason why the `0.12.5` builds are removed from https://builds.wkhtmltopdf.org?

[2018-06-12 08:54] ashkulz commented on #3929
The final release is available from https://wkhtmltopdf.org/downloads.html

[2018-06-12 12:33] simon-raynor commented on #3890
I've just tried downloading the alpha build from the website and it seems to have resolved this issue (not the original poster but I was having very similar symptoms re: horizonal lines in SVGs)

[2018-06-12 14:18] TarasHots commented on #1645
I know this is kind of old topic, but I stuck on this for several days. I was receiving really strange error like:
`Exit with code 1 due to network error: HostNotFoundError` in combination with `QSslSocket: cannot resolve SSLv3_server_method` and `Error: Failed loading page http:/css">`. So I will describe every one error and the reason I found in my case:

- `Exit with code 1 due to network error

[2018-06-12 14:51] BaconCatBug commented on #3385
Does anyone know a workaround or a fix for this?

[2018-06-12 15:49] ashkulz commented on #1645
can you try with 0.12.5?

[2018-06-12 16:05] turicas opened #3947 "Release a linux "generic" binary for 0.12.5"
Hi,
I'm maintaining a [wkhtmltopdf heroku buildpack](https://github.com/turicas/heroku-buildpack-wkhtmltopdf) and for the last version (0.12.4) I've used the Linux AMD64 generic binary, but this file is not available on the current release. Could you please provide it?

Thanks!

[2018-06-12 16:21] ashkulz commented on #3947
Please read the FAQ on why that's not possible.

[2018-06-12 16:21] #3947 closed

[2018-06-12 16:27] josecanchila commented on #2367
@Mathlight comment solve my issue, thanks you!

[2018-06-12 16:50] ashkulz commented on #3947
For heroku, you can use the package for the underlying Ubuntu version (trusty/xenial) or extract the .deb package via `ar x` and `tar xf`.

[2018-06-12 18:00] timlee1 commented on #3945
Can you give me a link to a working distribution?

[2018-06-12 18:17] nam-co commented on #3001
Hi @ashkulz , thanks for your work, I trying composer update with "h4cc/wkhtmltopdf-amd64": "0.12.5"  but Im getting a "Your requirements could not be resolved to an installable set of packages.", what can I be doing wrong?

thanks for your time

[2018-06-12 18:21] timlee1 commented on #3945
Can't find 0.13 build on https://builds.wkhtmltopdf.org

[2018-06-12 22:41] BaconCatBug commented on #3385
An excellent suggestion, however my document uses fixed font sizes and sadly manually scaling them to 75% is inconsistent, and due to the number of them it is not feasible to try and work out the correct size for each rule. Thank you for the help anyway!

[2018-06-13 01:47] timlee1 commented on #3945
This issue is never fixed, I don't understand why close it?

[2018-06-13 05:12] ashkulz commented on #3001
you'll have to ask whoever maintains that composer package, probably not updated.

[2018-06-13 06:15] Tomsgu commented on #3945
@timlee1 You can find it [here](https://wkhtmltopdf.org/downloads.html) in section Bleeding edge.

and [here](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3945#issuecomment-395982385) is the explanation why this issue is closed.

[2018-06-13 09:57] alexsaab opened #3948 "Is it possible run wkhtmltopdf with multi threat processor mode"
Hi,
I use wkhtmltopdf to generate PDF from HTML from PHP. I use for PDF generation 24 processor server. But when I generate PDF I saw that server use only one processor. Is it possiable generate 700-1000 pages PDF file (HTML also one file) in multiprocessor mode?

Alex

[2018-06-13 11:08] nemish-doshi commented on #3933
Hi Team,

Issue got resolved after adding --javascript-delay 1000

So new command is as below:

wkhtmltopdf.exe --javascript-delay 1000 --header-html header.html --footer-html footer.html page pretoc.html toc --xsl-style-sheet styles.xsl posttoc.html output.pdf

Thanks,
Nemish

[2018-06-13 11:08] #3933 closed

[2018-06-13 12:51] ashkulz commented on #3948
Nope, it has to be laid out as a single page. yoy can split up HTML, run in parallel and combine using pdftk.

[2018-06-13 12:51] #3948 closed

[2018-06-13 13:15] HSPDev commented on #2301
@macaba you..... Saved my life!!!!!

Bootstrap columns only showed the first column with 0.12.5 no matter the width - I thought it was not showing the fonts correctly, but turned out we had a "col-xs-1" with some hidden (on print) material in front of the content column, and that gave the illusion of the text being gone. Your tip with the viewport fixed everything...

[2018-06-13 14:50] timlee1 commented on #3945
@Tomsgu   Thanks. I am using LUbuntu 18.04, which is not mentioned in Bleeding edge. Which deb shall I install then?

[2018-06-13 15:49] glenelkins1984 opened #3949 "Font Rendering With Weird Artifacts"
Hi

I am using Lora-Regular font embedded into the CSS as WOFF and it looks perfectly fine on the screen but when I run through wkhtmltopdf some letters have strange artefacts on them.

Here is how it should look (how the browser shows it -Safari and Chrome on Mac):

![browser](https://user-images.githubusercontent.com/40242581/41362585-a5774f34-6f29-11e8-86f3-f683c3aa5dec.png)

This is how it loo

[2018-06-13 16:09] dfernan opened #3950 "error while trying to convert some specific websites"
E.g.,
[code]
I am using version wkhtmltopdf 0.12.2.4

It actually fails for all pages in lowes.com.

If I do ignore it renders a pdf with almost no content.  I tried w/o javascript options and it also doesn't work.

[2018-06-13 17:59] Tomsgu commented on #3945
I would try one of the .deb packages available. If it doesn't work you need to wait for new builds (probably).

[2018-06-13 20:47] marcrib opened #3951 "TOC font-size"
Hi, I need change font-size in TOC
Global styling not working
[code]

[2018-06-14 01:04] rob215x opened #3952 "Total Page [topage] is not correct with "toc", higher than actual number of pages"
First, I'd like to reference two other similar issues:
 #3889
 #3831

I've been using wkhtmltopdf for a long time on a client's web site. I tried several others for the particular client but wkhtmltopdf was the only one that didn't crash AND did exactly what I needed it to do. The client recently moved his site to a new server and I had to reinstall wkhtmltopdf.

Previously, I was using wkhtmltox-

[2018-06-14 09:35] Darker commented on #3935
I know there is no such media type. But my CSS hides link formating for print, but I don't want to hide them in PDF.

[2018-06-14 09:38] ashkulz commented on #3935
Use `--user-style-sheet` with your PDF specific CSS.

[2018-06-14 09:39] #3935 closed

[2018-06-14 09:42] ashkulz commented on #3952
can you post the HTML/CSS somewhere? This could be a regression from the changes made for fixing #2711

[2018-06-14 10:43] mpazdnikova opened #3953 "TOC is not generated"
Hello,

I've encountered an issue with TOC generation on a new 0.12.5 version.
Table of content is not generated at all when specifying toc parameter (with custom .xsl document or without it).
The simplest way to reproduce:  ```wkhtmltopdf toc "result.html" "result.pdf"```
And the result.html is just:
[code]
Everything worked with  0.12.5 RC I've downloaded like a couple of weeks ago.

One more th

[2018-06-14 10:45] ashkulz commented on #3953
What is the content of my.xsl?

[2018-06-14 10:51] mpazdnikova commented on #3953
Oops, it seems my.xsl was really missing so please ignore the second part of my message about the error, I'm removing it from the message. No errors now, it's just not generated.

[2018-06-14 10:52] ashkulz commented on #3953
Can you attach the PDF with 0.12.5 final and RC with the HTML and command-line mentioned above?

[2018-06-14 10:55] mpazdnikova commented on #3953
Sure!
[result_RC.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2101963/result_RC.pdf)
[result_final.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2101965/result_final.pdf)

[2018-06-14 10:58] ashkulz commented on #3953
Okay, can you tell me the exact RC -- was it 0.12.5-0.20180529.138.rc~37e9f91 or 0.12.5-0.20180604.140.rc~6f77c46? I suspect a regression due to changes in #2711

[2018-06-14 11:03] mpazdnikova commented on #3953
According to the installer name it was 0.12.5-0.20180529.138.rc...
That's pity. I've decided to move to a newer version partially because of that fix.

[2018-06-14 14:30] TarekAlQaddy opened #3954 "Different Arabic fonts not working, only English do."
Importing external Arabic fonts but they didn't work. It's only working on English fonts.

I tried importing fonts from google fonts with `link` tag or `@import` in CSS but no results.

[2018-06-14 16:07] PhilterPaper commented on #3954
Can you elaborate on "didn't work"? Are you seeing nothing at all, or basic Arabic characters that aren't correctly joined (positioned) or substituted (initial, medial, etc.)? Have you been able to get it to work with locally _installed_ Arabic fonts (not importing from the outside)? Exactly what version of wkHTMLtoPDF are you using, and on what platform? Do the HTML pages work OK on a browser, an

[2018-06-14 16:17] PhilterPaper commented on #3385
Just a note that "small caps" (and "petite caps") aren't really scaled-down capital letters, although in a pinch that trick may be usable. You're still left with the additional effort of only working with lowercase letters. Font designers adjust stem widths, etc. to make small caps look better, especially to be as "dense" as other letters (rather than too light, as scaled-down capitals often are).

[2018-06-14 16:29] rob215x commented on #3952
You can see the html/css source [here](https://budgetvideo.com/print-catalog-html)

Normally I don't use html tables for layout but in this case it was easier to handle the columns and page breaks with tables.

[2018-06-14 19:23] dwkoogt commented on #1692
Hi, I'm having the same problem but it is misinterpreted if I'm not mistaken.

Having a link in header/footer html does not work. And it is suggested that putting the link address as link content does work (and it does) but it is the function of PDF viewer recognizing it as a hyperlink address and allowing user to click it. I've tried just putting the link address as a plain content in a div/span

[2018-06-14 19:38] rob215x commented on #3952
Also, please note this is a live catalog and the client may add or remove products daily, which affects the total pages in the catalog. Today, the client asked me to adjust the font sizes in the CSS which brought the page count from 52 to 57. The two PDF links in my original post are date-specific copies that will not change over time.

[2018-06-15 02:02] alloylab commented on #3195
@susajsnair post in #2141

[2018-06-15 02:04] alloylab commented on #3949
@glenelkins1984 how did you install it? is it a patched QT version?

[2018-06-15 06:04] eugenepptech opened #3955 "RPM Package for rhel in ppc64le"
Hi Sir,

Would like to have rpm package for rhel in ppc64le. Anyone can advice? Very appreciate.

[2018-06-15 07:47] ashkulz commented on #3953
Am traveling right now, will look into this after Monday...

[2018-06-15 07:50] ashkulz commented on #3955
@eugenepptech: please open a PR in [wkhtmltopdf/packaging](https://github.com/wkhtmltopdf/packaging) instead -- look at `build.yml` and create a `centos7-ppc64le` target which has `qemu: true` and uses `ppc64le/centos:7` as the base docker image. As I don't have the hardware, I can't really test the build even if it is successful.

[2018-06-15 07:50] #3955 closed

[2018-06-15 09:12] Kaplan1984 commented on #3871
I also have this issue.
I'm not really satisfied with the solution because I'll have to write extra css rules.

OS: **Debian 9 (stretch)**
wkhtmltopdf: **0.12.3** (also tried 0.12.5)

[2018-06-15 09:57] bartek4c opened #3956 "Using custom header option for authorization"
How can I pass a bearer token into the tool using custom header option? I was trying to use
 --custom-header Authorization Bearer -token-
and
--custom-header Authorization "Bearer -token-"
but was successful in neither of them.

[2018-06-15 12:02] Mike-Thomson opened #3957 "Version 0.12.5 hooray - fixes https issues and others"
The new release this month fixes problems generating PDFs with https sites. A whole pile of problems I was having are now resolved - great stuff. Thank you dev team

By the way - am developing in windows using NGINX and winNMP with deployment site a VPS running Ubuntu 18.04, nginx, php 7.2. Both environments work great with Whtmltophp and it is so much faster that using TCPDF library.

[2018-06-15 12:32] alloylab commented on #2187
What flavor of linux are y'all running? What version of wkhtmltopdf? Is a patched QT version?
Is the certificate chain valid for https url?

Do you have openssl & ca-certificates packaged installed?

[2018-06-15 12:33] alloylab commented on #3795
is this resolved?

[2018-06-15 12:35] ashkulz commented on #3956
If I run `wkhtmltopdf  --custom-header Authorization "Bearer TOKEN" http://httpbin.org/bearer foo.pdf`, it generates a valid PDF.

[2018-06-15 12:36] ashkulz commented on #3957
Thanks a lot for the feedback!

[2018-06-15 12:36] #3957 closed

[2018-06-15 12:36] hakimio commented on #3795
@alloylab In the latest version (0.12.5) it is.

[2018-06-15 12:37] ashkulz commented on #3795
duplicate of #3241

[2018-06-15 12:37] #3795 closed

[2018-06-15 12:41] alloylab commented on #3913
@Lex-90 anymore info on this? What version are you running? patched qt version?

[2018-06-15 12:43] ashkulz commented on #3831
Duplicate of #2711

[2018-06-15 12:43] #3831 closed

[2018-06-15 12:44] alloylab commented on #3906
@hungweng how is content not displayed correctly by js script?  are you using the js delay feature?

[2018-06-15 12:49] alloylab commented on #3879
Are you still having this issue in 0.12.5?

[2018-06-15 12:50] alloylab commented on #3874
What version are you running?

[2018-06-15 12:50] alloylab commented on #3868
@bbhorse did you resolve this?

[2018-06-15 12:52] alloylab commented on #3823
How is it improper? What were you expecting? Can you provide the command you are using to generate the pdf?

[2018-06-15 12:54] alloylab commented on #3790
@ashkulz close out

[2018-06-15 12:56] alloylab commented on #3696
How are setting the timezone on computer running wkhtmltoimage? What version are you running?

[2018-06-15 12:57] alloylab commented on #3851
what version?

[2018-06-15 12:57] alloylab commented on #3786
@littlemonstersites did js delay fix it?

[2018-06-15 12:58] alloylab commented on #3814
@ashkulz close out

[2018-06-15 12:59] alloylab commented on #3924
What version?

[2018-06-15 12:59] alloylab commented on #3811
what version?

[2018-06-15 13:01] #3814 closed

[2018-06-15 13:03] #3790 closed

[2018-06-15 13:06] alloylab commented on #3785
@loga345 is this resolved?

[2018-06-15 13:10] bartek4c commented on #3956
Here is my test:
`wkhtmltopdf --custom-header Authorization "Bearer TOKEN" page "https://localhost:44382/controller/action/id" "C:\Users\My Name\AppData\Local\Temp\b77cf779-3356-454c-8125-2d75ab7bbda3.pdf"`
I point to a controller that does not require authorization and am trying to examine the request within the action method. Unfortunately the breakpoint doesn't get hit, instead, a pdf renders i

[2018-06-15 13:11] alloylab commented on #3803
What version?

[2018-06-15 13:12] #1924 closed

[2018-06-15 13:12] ashkulz commented on #3956
Whatever is running on `localhost` can't be debugged, sorry. If you can reproduce the error with a public site or testcase, please reopen the issue with details -- otherwise it is most likely an issue in your server-side stack.

[2018-06-15 13:12] #3956 closed

[2018-06-15 13:13] alloylab commented on #1910
are you still having this issue with the latest version?

[2018-06-15 13:13] #1909 closed

[2018-06-15 13:14] alloylab commented on #1898
issue seems to be resolved... if you are still having issues please let us know

[2018-06-15 13:14] #1898 closed

[2018-06-15 13:15] alloylab commented on #1897
are you having this issue on the latest version?

[2018-06-15 13:16] Tomsgu commented on #2127
Do you still have this problem using the newest version 0.12.5?

On archlinux with wkhtmltoimage 0.12.5 it is working perfectly.

[2018-06-15 13:16] alloylab commented on #1895
have you tried this with the latest version? also why are you running xvfb if you are using the patched qt version?

[2018-06-15 13:16] ashkulz commented on #1897
It should be `stopSlowScripts`, not `stopSlowScript`.

[2018-06-15 13:16] #1897 closed

[2018-06-15 13:18] alloylab commented on #1877
are you still have this issues in 0.12.5?

[2018-06-15 13:22] alloylab commented on #3604
What version? have you tried this on 0.12.5?

[2018-06-15 13:22] BobJackson commented on #3803
wkhtmltopdf 0.12.4 (with patched qt)

[2018-06-15 13:22] alloylab commented on #2038
What version? have you tried this on 0.12.5?

[2018-06-15 13:23] alloylab commented on #2240
What version? have you tried this on 0.12.5?

[2018-06-15 13:23] alloylab commented on #3128
have you tried this on 0.12.5?

[2018-06-15 13:23] alloylab commented on #3789
What version? have you tried this on 0.12.5?

[2018-06-15 13:32] mediatomcat commented on #3879
1) I was producing multiple reports back to back, so added some code to put a 2 second delay between outputting the 2 reports.
2) I activated the cache folder and made sure that it was writeable on the server chmod 775 /yourfolder - and made sure that apache could write to it.  chown apache:apache

[2018-06-15 13:42] alloylab commented on #2541
What version? have you tried this on 0.12.5?

[2018-06-15 13:42] alloylab commented on #2522
What version? have you tried this on 0.12.5?

[2018-06-15 13:42] alloylab commented on #2468
What version? have you tried this on 0.12.5?

[2018-06-15 13:43] alloylab commented on #2599
What version? have you tried this on 0.12.5?

[2018-06-15 13:43] alloylab commented on #2584
have you tried this on 0.12.5?

[2018-06-15 13:43] alloylab commented on #2316
What version? have you tried this on 0.12.5?

[2018-06-15 13:44] alloylab commented on #2313
have you tried this on 0.12.5?

[2018-06-15 13:50] alloylab commented on #1913
What version? have you tried this on 0.12.5?

[2018-06-15 13:50] alloylab commented on #1932
What version? have you tried this on 0.12.5?

[2018-06-15 13:50] alloylab commented on #1969
have you tried this on 0.12.5?

[2018-06-15 13:50] alloylab commented on #1979
have you tried this on 0.12.5?

[2018-06-15 13:50] alloylab commented on #1993
What version? have you tried this on 0.12.5?

[2018-06-15 13:52] alloylab commented on #2003
What version? have you tried this on 0.12.5?

[2018-06-15 13:52] alloylab commented on #2012
have you tried this on 0.12.5?

[2018-06-15 13:52] alloylab commented on #2033
have you tried this on 0.12.5?

[2018-06-15 13:52] alloylab commented on #2035
have you tried this on 0.12.5?

[2018-06-15 13:53] alloylab commented on #2040
What version? have you tried this on 0.12.5?

[2018-06-15 13:53] alloylab commented on #2041
What version? have you tried this on 0.12.5?

[2018-06-15 13:53] alloylab commented on #2068
What version? have you tried this on 0.12.5?

[2018-06-15 13:53] alloylab commented on #2107
What version? have you tried this on 0.12.5?

[2018-06-15 13:53] alloylab commented on #2125
What version? have you tried this on 0.12.5?

[2018-06-15 13:54] alloylab commented on #2165
have you tried this on 0.12.5?

[2018-06-15 13:54] alloylab commented on #2170
What version? have you tried this on 0.12.5?

[2018-06-15 13:54] alloylab commented on #2176
have you tried this on 0.12.5?

[2018-06-15 13:54] alloylab commented on #2178
have you tried this on 0.12.5?

[2018-06-15 13:55] alloylab commented on #2197
have you tried this on 0.12.5?

[2018-06-15 13:55] alloylab commented on #2205
have you tried this on 0.12.5?

[2018-06-15 13:55] alloylab commented on #2206
What version? have you tried this on 0.12.5?

[2018-06-15 13:55] alloylab commented on #2211
What version? have you tried this on 0.12.5?

[2018-06-15 13:55] alloylab commented on #2219
have you tried this on 0.12.5?

[2018-06-15 13:56] alloylab commented on #2220
What version? have you tried this on 0.12.5?

[2018-06-15 13:56] alloylab commented on #2339
Duplicate #2340

[2018-06-15 13:56] #2339 closed

[2018-06-15 13:57] alloylab commented on #2340
What version? have you tried this on 0.12.5?

[2018-06-15 13:57] alloylab commented on #2336
What version? have you tried this on 0.12.5?

[2018-06-15 13:57] alloylab commented on #2330
have you tried this on 0.12.5?

[2018-06-15 13:57] alloylab commented on #2329
have you tried this on 0.12.5?

[2018-06-15 13:57] alloylab commented on #2323
What version? have you tried this on 0.12.5?

[2018-06-15 13:57] alloylab commented on #2315
What version? have you tried this on 0.12.5?

[2018-06-15 13:57] alloylab commented on #2263
What version? have you tried this on 0.12.5?

[2018-06-15 13:58] alloylab commented on #2243
have you tried this on 0.12.5?

[2018-06-15 13:58] alloylab commented on #2232
What version? have you tried this on 0.12.5?

[2018-06-15 14:00] alloylab commented on #2342
have you tried this on 0.12.5?

[2018-06-15 14:00] alloylab commented on #2347
have you tried this on 0.12.5?

[2018-06-15 14:00] alloylab commented on #2352
What version? have you tried this on 0.12.5?

[2018-06-15 14:00] alloylab commented on #2354
have you tried this on 0.12.5?

[2018-06-15 14:00] alloylab commented on #2365
What version? have you tried this on 0.12.5?

[2018-06-15 14:00] alloylab commented on #2366
What version? have you tried this on 0.12.5?

[2018-06-15 14:01] alloylab commented on #2370
What version? have you tried this on 0.12.5?

[2018-06-15 14:01] alloylab commented on #2383
have you tried this on 0.12.5?

[2018-06-15 14:01] alloylab commented on #2387
What version? have you tried this on 0.12.5?

[2018-06-15 14:03] alloylab commented on #1775
@ashkulz we look into this.. Thanks.

[2018-06-15 14:11] BobJackson commented on #3803
Yes, I had tried on  0.13.0-alpha-7b36694 , parseInt("08") =8, thanks a lot.
However I want a stable version in production env, hope you make a success as soon as possible.

[2018-06-15 14:15] alloylab commented on #1542
have you tried this on 0.12.5?

[2018-06-15 14:16] alloylab commented on #1938
have you tried this on 0.12.5?

[2018-06-15 14:16] alloylab commented on #1945
have you tried this on 0.12.5?

[2018-06-15 14:17] alloylab commented on #1942
have you tried this on 0.12.5?

[2018-06-15 14:17] #2082 closed

[2018-06-15 14:17] alloylab commented on #1553
have you tried this on 0.12.5?

[2018-06-15 14:18] alloylab commented on #2164
have you tried this on 0.12.5?

[2018-06-15 14:18] alloylab commented on #2318
have you tried this on 0.12.5?

[2018-06-15 14:18] alloylab commented on #2092
have you tried this on 0.12.5?

[2018-06-15 14:19] #2943 closed

[2018-06-15 14:19] alloylab commented on #2983
have you tried this on 0.12.5?

[2018-06-15 14:19] #2099 closed

[2018-06-15 14:19] alloylab commented on #2630
have you tried this on 0.12.5?

[2018-06-15 14:20] alloylab commented on #2967
have you tried this on 0.12.5?

[2018-06-15 14:20] alloylab commented on #3221
have you tried this on 0.12.5?

[2018-06-15 14:21] #3401 closed

[2018-06-15 14:21] alloylab commented on #2780
have you tried this on 0.12.5?

[2018-06-15 14:21] alloylab commented on #2093
have you tried this on 0.12.5?

[2018-06-15 14:21] alloylab commented on #2208
have you tried this on 0.12.5?

[2018-06-15 14:22] alloylab commented on #3882
have you tried this on 0.12.5?

[2018-06-15 14:27] nicolasr75 commented on #3838
I have not tried again since March but back then I had used 0.12.4.
You think there might be a change in 0.12.5 that could make it work?

[2018-06-15 14:27] alloylab commented on #3799
have you tried this on 0.12.5?

[2018-06-15 14:27] alloylab commented on #3792
have you tried this on 0.12.5?

[2018-06-15 14:28] alloylab commented on #3788
have you tried this on 0.12.5?

[2018-06-15 14:28] fommil commented on #2983
Nope, but I'm happy to close in any case because I'm unlikely to have the time to fix this.

[2018-06-15 14:28] #2983 closed

[2018-06-15 14:28] alloylab commented on #3775
have you tried this on 0.12.5?

[2018-06-15 14:29] alloylab commented on #3770
have you tried this on 0.12.5?

[2018-06-15 14:32] alloylab commented on #1977
have you tried this on 0.12.5?

[2018-06-15 14:34] alloylab commented on #3646
have you tried this on 0.12.5?

[2018-06-15 14:37] alloylab commented on #1648
have you tried this on 0.12.5?

[2018-06-15 14:38] alloylab commented on #1978
have you tried this on 0.12.5?

[2018-06-15 14:38] alloylab commented on #1807
have you tried this on 0.12.5?

[2018-06-15 14:39] alloylab commented on #3830
have you tried this on 0.12.5?

[2018-06-15 14:43] #3879 closed

[2018-06-15 14:47] chipper95 commented on #3862
Yes. Downloaded the new build this morning, but I'm still seeing the issue.

[2018-06-15 14:49] bhohbaum commented on #2522
yay, something is moving here... :-)
i needed this a lot faster and have implemented more features that i needed since that time. so i fixed this issue and also added some new features. for example a new css property, by which one can disable objects for printing. they appear on the screen, but not on paper or print preview. i used an optional content group for that. the good thing about that: now

[2018-06-15 14:53] bpj commented on #3385
@PhilterPaper unless things have changed radically in the last decade browsers usually fake smallcaps more or less as my CSS code does, and they probably still do at least when real smallcaps are unavailable.

It is kind of hard to preprocess strings as you suggest, at least using JavaScript, since AFAIK that language lacks awareness of Unicode properties.  I *have* actually written such a preproc

[2018-06-15 14:54] maguba opened #3958 "Generic linux build for 0.12.5"
Version 0.12.5 doesn't have a generic build like wkhtmltox-0.12.5_linux-generic-amd64.tar.xz. Please, could it be made available?

[2018-06-15 14:59] ashkulz commented on #2522
can you post it here, preferably with a summary? I won't mind releasing 0.12.6 quickly with those changes :-)

[2018-06-15 15:01] ashkulz commented on #3958
Duplicate of #3947

[2018-06-15 15:02] #3958 closed

[2018-06-15 15:21] Zorinik commented on #3813
Good morning,
yes, I just tried with 0.12.5, still no luck unfortunately.

You can see attached a screen of the result, here is the full command:

wkhtmltopdf --disable-smart-shrinking --footer-html footer.html --javascript-delay 1000 -B 7 -T 7 -L 7 -R 7 file.html file.pdf

The footer file had a second row (just  two <p> tags) that is not displayed because it starts too far at the bottom of the pa

[2018-06-15 15:53] fon60 commented on #1938
I'm sorry, but I can't check this anymore. I don't work for the company using this project anymore. Thus I don't have access to it.

[2018-06-15 15:59] ovider commented on #1648
no, last version i tried was 0.12.4.

[2018-06-15 16:18] alloylab commented on #3862
what os are you running? are you using the patched qt version?

[2018-06-15 16:20] alloylab commented on #3896
what os? what version? patched qt?

[2018-06-15 16:20] alloylab commented on #3927
what os? what version? patched qt?

[2018-06-15 16:21] alloylab commented on #3918
is this still an issue on on 0.12.5

[2018-06-15 16:22] alloylab commented on #3915
what os? what version? patched qt?

[2018-06-15 16:27] #1563 closed, assigned to nobody

[2018-06-15 16:34] bhohbaum commented on #2522
my version is a fork from your commit 87a547e on 25 Jul 2015. i just moved forward in qt in the wk_4.8.7 branch and in wkhtmltopdf in the master branch. i have not used git submodules so often, so watch out that both parts match together... :-)
the easiest way for me to provide you the code + repos without fiddling with the repository addresses was creating a tar file. you can download it from her

[2018-06-15 16:35] beaorn commented on #3915
This isn't a bug per-say, its more of a question how to do this if it is even possible to do.

Running patched QT version wkhtmltopdf 0.12.4 from this release: https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz on both Debian 9 and Ubuntu 18.04 systems.

[2018-06-15 16:36] #1938 closed

[2018-06-15 16:37] alloylab commented on #3813
@Zorinik can you provide both html files?
what os are you running? is wkhtmltopdf a patched qt version?

[2018-06-15 16:39] alloylab commented on #1818
is this still an issue for 0.12.5?

[2018-06-15 16:40] alloylab commented on #3934
what os? what version? is it a patched qt version?

[2018-06-15 16:40] alloylab commented on #3951
what os? what version? is it a patched qt version?

[2018-06-15 16:41] alloylab commented on #3950
what os? Is it a patched qt version? have you tried 0.12.5?

[2018-06-15 16:42] alloylab commented on #3943
is this an issue on 0.12.5?

[2018-06-15 16:43] alloylab commented on #3939
what os? what version? is it a patched qt version?

[2018-06-15 16:44] alloylab commented on #3937
what os? what version? is it a patched qt version?

[2018-06-15 16:44] alloylab commented on #3936
what os? have you tried 0.12.5?

[2018-06-15 16:45] alloylab commented on #3908
what os? what version? is it a patched qt version?

[2018-06-15 16:46] ashkulz commented on #2699
I'm thinking of adding this for the next release.

[2018-06-15 16:46] alloylab commented on #3907
what os? what version? is it a patched qt version?

[2018-06-15 16:47] alloylab commented on #1648
can you try 0.12.5? Also what os are you running? Also, is this a patched qt version?

[2018-06-15 16:48] #3881 closed

[2018-06-15 16:51] #2390 closed

[2018-06-15 16:51] #2408 closed

[2018-06-15 16:51] #2410 closed

[2018-06-15 16:51] #2439 closed

[2018-06-15 16:51] #2446 closed

[2018-06-15 16:51] #2450 closed

[2018-06-15 16:51] #2465 closed

[2018-06-15 16:51] #2467 closed

[2018-06-15 16:51] #2472 closed

[2018-06-15 16:51] #2483 closed

[2018-06-15 16:51] #2519 closed

[2018-06-15 16:51] #2534 closed

[2018-06-15 16:51] #2536 closed

[2018-06-15 16:51] #2539 closed

[2018-06-15 16:51] #2568 closed

[2018-06-15 16:51] #2577 closed

[2018-06-15 16:52] #2605 closed

[2018-06-15 16:52] #2612 closed

[2018-06-15 16:52] #2614 closed

[2018-06-15 16:52] #2615 closed

[2018-06-15 16:52] #2619 closed

[2018-06-15 16:52] #2631 closed

[2018-06-15 16:52] #2635 closed

[2018-06-15 16:52] #2640 closed

[2018-06-15 16:52] #2644 closed

[2018-06-15 16:52] #2653 closed

[2018-06-15 16:52] #2661 closed

[2018-06-15 16:52] #2662 closed

[2018-06-15 16:52] #2666 closed

[2018-06-15 16:52] #2667 closed

[2018-06-15 16:52] #2674 closed

[2018-06-15 16:52] #2688 closed

[2018-06-15 16:52] #2695 closed

[2018-06-15 16:52] #2698 closed

[2018-06-15 16:52] #2705 closed

[2018-06-15 16:53] #2708 closed

[2018-06-15 16:53] #2709 closed

[2018-06-15 16:53] #2710 closed

[2018-06-15 16:53] #2712 closed

[2018-06-15 16:53] #2715 closed

[2018-06-15 16:53] #2722 closed

[2018-06-15 16:53] #2731 closed

[2018-06-15 16:53] #2768 closed

[2018-06-15 16:53] #2774 closed

[2018-06-15 16:53] #2783 closed

[2018-06-15 16:53] #2785 closed

[2018-06-15 16:53] #2787 closed

[2018-06-15 16:53] #2790 closed

[2018-06-15 16:53] #2794 closed

[2018-06-15 16:53] #2800 closed

[2018-06-15 16:53] #2802 closed

[2018-06-15 16:53] #2804 closed

[2018-06-15 16:53] #2806 closed

[2018-06-15 16:53] #2812 closed

[2018-06-15 16:53] #2814 closed

[2018-06-15 16:53] #2815 closed

[2018-06-15 16:53] #2817 closed

[2018-06-15 16:53] #2837 closed

[2018-06-15 16:53] #2841 closed

[2018-06-15 16:53] #2842 closed

[2018-06-15 16:53] #2849 closed

[2018-06-15 16:53] #2850 closed

[2018-06-15 16:53] #2853 closed

[2018-06-15 16:53] #2856 closed

[2018-06-15 16:53] #2861 closed

[2018-06-15 16:53] #2864 closed

[2018-06-15 16:53] #2872 closed

[2018-06-15 16:53] #2875 closed

[2018-06-15 16:53] #2876 closed

[2018-06-15 16:53] #2878 closed

[2018-06-15 16:53] #2883 closed

[2018-06-15 16:54] #2895 closed

[2018-06-15 16:54] #2902 closed

[2018-06-15 16:54] #2903 closed

[2018-06-15 16:54] #2905 closed

[2018-06-15 16:54] #2927 closed

[2018-06-15 16:54] #2937 closed

[2018-06-15 16:54] #2980 closed

[2018-06-15 16:54] #2981 closed

[2018-06-15 16:54] #2989 closed

[2018-06-15 16:54] #2993 closed

[2018-06-15 16:54] #2994 closed

[2018-06-15 16:54] #2998 closed

[2018-06-15 16:54] #3018 closed

[2018-06-15 16:54] #3020 closed

[2018-06-15 16:54] #3027 closed

[2018-06-15 16:54] #3034 closed

[2018-06-15 16:54] #3040 closed

[2018-06-15 16:54] #3042 closed

[2018-06-15 16:54] #3044 closed

[2018-06-15 16:54] #3050 closed

[2018-06-15 16:54] #3055 closed

[2018-06-15 16:54] #3056 closed

[2018-06-15 16:54] #3057 closed

[2018-06-15 16:54] #3060 closed

[2018-06-15 16:54] #3065 closed

[2018-06-15 16:54] siloria commented on #2611
What info was needed? Just closing things?

[2018-06-15 16:54] #3067 closed

[2018-06-15 16:54] #3069 closed

[2018-06-15 16:54] #3070 closed

[2018-06-15 16:54] #3073 closed

[2018-06-15 16:54] #3075 closed

[2018-06-15 16:54] #3083 closed

[2018-06-15 16:54] #3084 closed

[2018-06-15 16:54] #3086 closed

[2018-06-15 16:54] #3100 closed

[2018-06-15 16:54] #3106 closed

[2018-06-15 16:54] #3117 closed

[2018-06-15 16:54] #3134 closed

[2018-06-15 16:54] #3142 closed

[2018-06-15 16:54] #3144 closed

[2018-06-15 16:54] #3162 closed

[2018-06-15 16:54] #3165 closed

[2018-06-15 16:54] #3166 closed

[2018-06-15 16:54] #3167 closed

[2018-06-15 16:55] #3169 closed

[2018-06-15 16:55] #3173 closed

[2018-06-15 16:55] #3177 closed

[2018-06-15 16:55] #3180 closed

[2018-06-15 16:55] #3182 closed

[2018-06-15 16:55] #3187 closed

[2018-06-15 16:55] #3188 closed

[2018-06-15 16:55] #3200 closed

[2018-06-15 16:55] #3203 closed

[2018-06-15 16:55] #3232 closed

[2018-06-15 16:55] #3240 closed

[2018-06-15 16:55] #3250 closed

[2018-06-15 16:55] #3285 closed

[2018-06-15 16:56] alloylab commented on #2611
@siloria what version are you running? is a patched qt version?

[2018-06-15 16:57] Tomsgu commented on #2699
I am not sure if it would fit here. But what about providing e.g. [flatpak](https://flatpak.org/) package? It's quite pain to support all distributions.

[2018-06-15 16:58] siloria commented on #2611
0.12.2.4 (with patched qt)
It has improved over time, it may have been a Windows thing. I believe I tried getting up to date back in 2015.

[2018-06-15 16:59] alloylab commented on #2611
Have tried 0.12.5 with windows 10?

[2018-06-15 17:01] Pagise commented on #2741
Ok, this was an issue in 2016. Two and a half years later people are asking about this?.. alloylab adds the "needinfo" label to it (I don't get a notification about this) and then simply closes it 3 hours later (I did get a notification about THAT though!). Why ask for "needinfo" after 2.5 years? Why not within 2.5 hours or something? Well.. at least it's a way to get rid of open issues I guess...

[2018-06-15 17:02] siloria commented on #2611
I will do that! You can close it. I was just curious.
Thanks for your help.

[2018-06-15 17:03] ashkulz commented on #3055
Fixed via #3291

[2018-06-15 17:03] alloylab commented on #2611
I'll keep it open till I hear from you. Thanks.

[2018-06-15 17:04] alloylab commented on #2741
@Pagise That was a mistake what version are you running?

[2018-06-15 17:05] jurchiks commented on #3179
@alloylab good job noticing this after 2 years, lol.

[2018-06-15 17:06] alloylab commented on #3179
Only started helping out recently, what version are you running?

[2018-06-15 17:06] ashkulz commented on #2741
@Pagise: we're trying to do a spring cleaning of all open issues. This is a volunteer effort, so @alloylab is [gardening all issues](http://words.steveklabnik.com/how-to-be-an-open-source-gardener) but closed it prematurely.

[2018-06-15 17:09] alloylab commented on #3223
have you tried v0.12.5?

[2018-06-15 17:11] alloylab commented on #2434
@shirishag75 I agree can you submit a pr?

[2018-06-15 17:12] alloylab commented on #3251
what version are you running?

[2018-06-15 17:12] Tomsgu commented on #2741
Well @Pagise when you have more than 1000 issues and most of them are more than 2 years old, you can't just go one by one and ask everyone the same question. Especially if the issue misses important facts like In what version is it happening, what os are you using, can you provide a minimal html case when it happens. There is also stackoverflow for the questions.

Just reminding that this is open

[2018-06-15 17:14] alloylab commented on #3289
is this still an issue on 0.12.5?

[2018-06-15 17:14] alloylab commented on #3224
is this still an issue on 0.12.5?

[2018-06-15 17:14] alloylab commented on #3231
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3285
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3232
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3240
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3243
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3247
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3250
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3182
is this still an issue on 0.12.5?

[2018-06-15 17:15] alloylab commented on #3186
is this still an issue on 0.12.5?

[2018-06-15 17:16] alloylab commented on #3187
is this still an issue on 0.12.5?

[2018-06-15 17:16] alloylab commented on #3188
is this still an issue on 0.12.5?

[2018-06-15 17:17] alloylab commented on #3200
is this still an issue on 0.12.5?

[2018-06-15 17:18] alloylab commented on #3203
is this still an issue on 0.12.5?

[2018-06-15 17:18] alloylab commented on #3169
is this still an issue on 0.12.5?

[2018-06-15 17:18] alloylab commented on #3173
is this still an issue on 0.12.5?

[2018-06-15 17:18] alloylab commented on #3177
is this still an issue on 0.12.5?

[2018-06-15 17:18] alloylab commented on #3180
is this still an issue on 0.12.5?

[2018-06-15 17:19] alloylab commented on #3162
is this still an issue on 0.12.5?

[2018-06-15 17:19] alloylab commented on #3165
is this still an issue on 0.12.5?

[2018-06-15 17:19] alloylab commented on #3166
is this still an issue on 0.12.5?

[2018-06-15 17:20] alloylab commented on #3167
is this still an issue on 0.12.5?

[2018-06-15 17:20] alloylab commented on #3106
is this still an issue on 0.12.5?

[2018-06-15 17:20] alloylab commented on #3117
is this still an issue on 0.12.5?

[2018-06-15 17:22] alloylab commented on #3100
is this still an issue on 0.12.5?

[2018-06-15 17:22] alloylab commented on #3069
is this still an issue on 0.12.5?

[2018-06-15 17:27] alloylab commented on #3050
is this still an issue on 0.12.5?

[2018-06-15 17:28] alloylab commented on #2998
is this still an issue on 0.12.5?

[2018-06-15 17:29] alloylab commented on #3018
is this still an issue on 0.12.5?

[2018-06-15 17:29] alloylab commented on #3020
is this still an issue on 0.12.5?

[2018-06-15 17:30] alloylab commented on #2895
is this still an issue on 0.12.5?

[2018-06-15 17:30] alloylab commented on #2902
is this still an issue on 0.12.5?

[2018-06-15 17:30] alloylab commented on #2903
is this still an issue on 0.12.5?

[2018-06-15 17:30] alloylab commented on #2905
is this still an issue on 0.12.5?

[2018-06-15 17:30] alloylab commented on #2927
is this still an issue on 0.12.5?

[2018-06-15 17:32] alloylab commented on #2878
is this still an issue on 0.12.5?

[2018-06-15 17:32] alloylab commented on #2883
is this still an issue on 0.12.5?

[2018-06-15 17:33] alloylab commented on #2891
can you submit a pr?

[2018-06-15 17:33] alloylab commented on #2875
is this still an issue on 0.12.5?

[2018-06-15 17:33] alloylab commented on #2876
is this still an issue on 0.12.5?

[2018-06-15 17:33] alloylab commented on #2849
is this still an issue on 0.12.5?

[2018-06-15 17:33] alloylab commented on #2850
is this still an issue on 0.12.5?

[2018-06-15 17:33] alloylab commented on #2853
is this still an issue on 0.12.5?

[2018-06-15 17:34] ashkulz commented on #2522
Okay, I'll have a look at it next week.

[2018-06-15 17:34] alloylab commented on #2856
is this still an issue on 0.12.5?

[2018-06-15 17:34] jurchiks commented on #3179
I don't work at the place where I had this issue anymore.

[2018-06-15 17:35] #3179 closed

[2018-06-15 17:36] alloylab commented on #3134
is this still an issue on 0.12.5?

[2018-06-15 17:36] Pagise commented on #2741
No problem.. I'm glad it actually finally got some "feedback"! lol.
Version: Most likely v0.12.2.1 since it was jan 6 1016 and I most likely was trying the latest version.
OS: Linux (centos 6 to be more precise)

Unfortunately I haven't looked at it ever since since it was so buggy and didn't do what I wanted to do. I see that there have been a lot of fixes ever since, so I might want to give it a

[2018-06-15 17:38] alloylab commented on #2464
is this still an issue on 0.12.5?

[2018-06-15 17:38] alloylab commented on #2450
is this still an issue on 0.12.5?

[2018-06-15 17:39] alloylab commented on #2446
is this still an issue on 0.12.5?

[2018-06-15 17:39] alloylab commented on #2439
is this still an issue on 0.12.5?

[2018-06-15 17:40] alloylab commented on #2519
is this still an issue on 0.12.5?

[2018-06-15 17:41] alloylab commented on #2483
is this still an issue on 0.12.5?

[2018-06-15 17:43] alloylab commented on #2534
is this still an issue on 0.12.5?

[2018-06-15 17:43] alloylab commented on #2536
is this still an issue on 0.12.5?

[2018-06-15 17:43] alloylab commented on #2539
is this still an issue on 0.12.5?

[2018-06-15 17:43] alloylab commented on #2568
is this still an issue on 0.12.5?

[2018-06-15 17:43] alloylab commented on #2577
is this still an issue on 0.12.5?

[2018-06-15 17:43] alloylab commented on #2465
is this still an issue on 0.12.5?

[2018-06-15 17:44] alloylab commented on #2467
is this still an issue on 0.12.5?

[2018-06-15 17:44] alloylab commented on #2472
is this still an issue on 0.12.5?

[2018-06-15 17:44] alloylab commented on #2390
is this still an issue on 0.12.5?

[2018-06-15 17:45] alloylab commented on #2408
is this still an issue on 0.12.5?

[2018-06-15 17:45] alloylab commented on #2410
is this still an issue on 0.12.5?

[2018-06-15 17:46] alloylab commented on #2635
is this still an issue on 0.12.5?

[2018-06-15 17:46] alloylab commented on #2640
is this still an issue on 0.12.5?

[2018-06-15 17:46] Tomsgu commented on #3934
Tried this on wkhtmltopdf 0.12.5 and it displays both.
![wkhtmltopdf-test-case](https://user-images.githubusercontent.com/2694769/41482128-d4d30c76-70d4-11e8-9104-fda4799c5603.png)

[2018-06-15 17:47] alloylab commented on #2612
is this still an issue on 0.12.5?

[2018-06-15 17:47] alloylab commented on #2614
is this still an issue on 0.12.5?

[2018-06-15 17:47] alloylab commented on #2615
is this still an issue on 0.12.5?

[2018-06-15 17:47] alloylab commented on #2619
is this still an issue on 0.12.5?

[2018-06-15 17:48] alloylab commented on #3934
@Tomsgu just want to confirm that your issue is now resolved?

[2018-06-15 17:49] alloylab commented on #2605
is this still an issue on 0.12.5?

[2018-06-15 17:49] alloylab commented on #2631
is this still an issue on 0.12.5?

[2018-06-15 17:50] alloylab commented on #2697
what os?

[2018-06-15 17:50] alloylab commented on #2698
is this still an issue on 0.12.5?

[2018-06-15 17:51] alloylab commented on #2644
is this still an issue on 0.12.5?

[2018-06-15 17:51] alloylab commented on #2653
is this still an issue on 0.12.5?

[2018-06-15 17:52] alloylab commented on #2661
is this still an issue on 0.12.5?

[2018-06-15 17:52] alloylab commented on #2662
is this still an issue on 0.12.5?

[2018-06-15 17:52] alloylab commented on #2666
is this still an issue on 0.12.5?

[2018-06-15 17:53] alloylab commented on #2710
is this still an issue on 0.12.5?

[2018-06-15 17:53] alloylab commented on #2705
is this still an issue on 0.12.5?

[2018-06-15 17:54] alloylab commented on #2674
is this still an issue on 0.12.5?

[2018-06-15 17:54] alloylab commented on #2688
is this still an issue on 0.12.5?

[2018-06-15 17:54] alloylab commented on #2695
is this still an issue on 0.12.5?

[2018-06-15 17:54] alloylab commented on #2731
is this still an issue on 0.12.5?

[2018-06-15 17:54] Tomsgu commented on #3936
Cannot reproduce this on wkhtmltopdf 0.12.5 (unpatched) archlinux.

[2018-06-15 17:56] alloylab commented on #2667
is this still an issue on 0.12.5?

[2018-06-15 17:56] alloylab commented on #2709
is this still an issue on 0.12.5?

[2018-06-15 17:56] alloylab commented on #2708
is this still an issue on 0.12.5?

[2018-06-15 17:56] alloylab commented on #2787
is this still an issue on 0.12.5?

[2018-06-15 17:57] alloylab commented on #2712
is this still an issue on 0.12.5?

[2018-06-15 17:57] alloylab commented on #2715
is this still an issue on 0.12.5?

[2018-06-15 17:57] alloylab commented on #2722
is this still an issue on 0.12.5?

[2018-06-15 17:58] alloylab commented on #3142
is this still an issue on 0.12.5?

[2018-06-15 17:59] alloylab commented on #3144
is this still an issue on 0.12.5?

[2018-06-15 17:59] alloylab commented on #3086
is this still an issue on 0.12.5?

[2018-06-15 17:59] alloylab commented on #3027
is this still an issue on 0.12.5?

[2018-06-15 17:59] alloylab commented on #3034
is this still an issue on 0.12.5?

[2018-06-15 18:00] alloylab commented on #2937
is this still an issue on 0.12.5?

[2018-06-15 18:00] alloylab commented on #2940
is this still an issue on 0.12.5?

[2018-06-15 18:00] alloylab commented on #2980
is this still an issue on 0.12.5?

[2018-06-15 18:00] alloylab commented on #2981
is this still an issue on 0.12.5?

[2018-06-15 18:00] alloylab commented on #2989
is this still an issue on 0.12.5?

[2018-06-15 18:00] alloylab commented on #2993
is this still an issue on 0.12.5?

[2018-06-15 18:01] alloylab commented on #2994
is this still an issue on 0.12.5?

[2018-06-15 18:01] Tomsgu commented on #3908
Your example works without any issue in wkhtmltopdf 0.12.5. But tried with own image.

[2018-06-15 18:02] alloylab commented on #2860
the login screen is saved because your not authenticated to view those pages

[2018-06-15 18:02] alloylab commented on #2817
is this still an issue on 0.12.5?

[2018-06-15 18:02] alloylab commented on #2815
is this still an issue on 0.12.5?

[2018-06-15 18:02] alloylab commented on #2872
is this still an issue on 0.12.5?

[2018-06-15 18:03] alloylab commented on #2864
is this still an issue on 0.12.5?

[2018-06-15 18:03] alloylab commented on #2861
is this still an issue on 0.12.5?

[2018-06-15 18:04] alloylab commented on #2837
is this still an issue on 0.12.5?

[2018-06-15 18:04] alloylab commented on #2841
is this still an issue on 0.12.5?

[2018-06-15 18:04] alloylab commented on #2842
is this still an issue on 0.12.5?

[2018-06-15 18:04] alloylab commented on #2812
is this still an issue on 0.12.5?

[2018-06-15 18:04] alloylab commented on #2814
is this still an issue on 0.12.5?

[2018-06-15 18:04] alloylab commented on #2790
is this still an issue on 0.12.5?

[2018-06-15 18:05] alloylab commented on #2794
is this still an issue on 0.12.5?

[2018-06-15 18:05] alloylab commented on #2800
is this still an issue on 0.12.5?

[2018-06-15 18:05] alloylab commented on #2802
is this still an issue on 0.12.5?

[2018-06-15 18:05] alloylab commented on #2804
is this still an issue on 0.12.5?

[2018-06-15 18:05] alloylab commented on #2806
is this still an issue on 0.12.5?

[2018-06-15 18:05] alloylab commented on #2768
is this still an issue on 0.12.5?

[2018-06-15 18:06] alloylab commented on #2783
is this still an issue on 0.12.5?

[2018-06-15 18:06] alloylab commented on #2785
is this still an issue on 0.12.5?

[2018-06-15 18:09] alloylab commented on #3903
what os & version?

[2018-06-15 18:11] oliverm2112 commented on #2872
Thanks for the follow-up. Sorry - old project from over 2 years ago - I don't have access to client code any more - pls close.

[2018-06-15 18:11] alloylab commented on #3771
is this still an issue on 0.12.5?

[2018-06-15 18:13] alloylab commented on #3681
is this still an issue on 0.12.5?

[2018-06-15 18:13] LaCodon commented on #3027
I'm sorry but I haven't worked with wkhtmltopdf for a long while, so I can't help you with that question

[2018-06-15 18:13] alloylab commented on #3648
is this still an issue on 0.12.5?

[2018-06-15 18:13] alloylab commented on #3378
is this still an issue on 0.12.5?

[2018-06-15 18:14] alloylab commented on #3326
is this still an issue on 0.12.5?

[2018-06-15 18:14] alloylab commented on #3423
is this still an issue on 0.12.5?

[2018-06-15 18:14] alloylab commented on #3372
is this still an issue on 0.12.5?

[2018-06-15 18:14] alloylab commented on #3612
is this still an issue on 0.12.5?

[2018-06-15 18:16] alloylab commented on #3348
is this still an issue on 0.12.5?

[2018-06-15 18:16] alloylab commented on #3339
is this still an issue on 0.12.5?

[2018-06-15 18:16] alloylab commented on #3338
is this still an issue on 0.12.5?

[2018-06-15 18:16] alloylab commented on #3337
is this still an issue on 0.12.5?

[2018-06-15 18:16] alloylab commented on #3336
is this still an issue on 0.12.5?

[2018-06-15 18:17] alloylab commented on #3325
is this still an issue on 0.12.5?

[2018-06-15 18:17] alloylab commented on #3322
is this still an issue on 0.12.5?

[2018-06-15 18:18] alloylab commented on #3309
is this still an issue on 0.12.5?

[2018-06-15 18:18] alloylab commented on #3305
is this still an issue on 0.12.5?

[2018-06-15 18:19] alloylab commented on #3330
is this still an issue on 0.12.5?

[2018-06-15 18:19] alloylab commented on #3331
is this still an issue on 0.12.5?

[2018-06-15 18:20] alloylab commented on #3332
is this still an issue on 0.12.5?

[2018-06-15 18:20] alloylab commented on #3353
is this still an issue on 0.12.5?

[2018-06-15 18:34] wbrefvem commented on #2800
Not sure. I was working on this two jobs ago and haven't touched it in awhile. :)

[2018-06-15 18:38] alloylab commented on #2800
Okay well if you come across this issue again please let us know

[2018-06-15 18:39] Zorinik commented on #3813
Yes, here are all the affected files:

[test case.zip](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2107146/test.case.zip)

And here is the produced PDF:

[file.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2107151/file.pdf)

I am running the latest version of wkhtmltopdf for Centos 7 (I think is qt patched yes), found here:
https://downloads.wkhtmltopdf.org/0.12/0.12.5/wkhtmltox-0.12.

[2018-06-15 19:29] tlode commented on #2464
Yes, the seg fault still occurs when I run the example from above with the current version, installed by the 64-bit installer on a macos 10.13.3

[code]

[code]

[2018-06-15 19:29] grahampaulcook commented on #3803
@BobJackson Is it within your code that parseInt("08") is being used? If so then there is a 2nd argument to parseInt that you can use to set the radix. You will want to set that to base 10 for decimal. Older versions of ECMS Script will default to octal base 8 and causes 8's and 9's to be 0 on calling parseInt as 8's and 9's do not exist in Octal.

[2018-06-15 19:38] alloylab commented on #2464
So you used this package? https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/wkhtmltox-0.12.5-1.macos-carbon.pkg

Does this work? wkhtmltopdf 'https://www.google.com' ~/Desktop/google.pdf

Can you also provide details on the localhostst and html file?

[2018-06-15 19:50] tlode commented on #2464
No, I've installed wkhtmltox-0.12.5-1.macos-cocoa.pkg (from https://wkhtmltopdf.org/downloads.html).

runs fine.

Native macOS Apache/2.4.28. The html file was exactly the same as from the example above:

test.html
[code]

test-pattern.svg
[code]

[2018-06-15 20:36] alloylab commented on #2464
Thanks for confirming so I tried to quickly recreate the issue on my Mac... and I received no seg fault with this command: wkhtmltopdf 'http://localhost/test.html' ~/Desktop/test.pdf but interestingly enough the rectangle in pdf is empty with a black border...

But this test was on 10.13.5 with Apache 2.2.34 via MAMP.

My native apache is 2.4.33... so I will have to setup a VM to create the exact

[2018-06-15 21:11] alloylab commented on #2464
Here is crash report for reference... I need to review it.

[wkhtmltopdf_Mac-Pro-crash.txt](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2107499/wkhtmltopdf_Mac-Pro-crash.txt)

[2018-06-15 21:17] eherrera opened #3959 "Footer missing - QPainter::begin(): Returned false Error: Unable to write to temp location"
Hello,
I'm trying to generate a pdf with a php wrapper (KnpLabs/snappy) in windows and **the footer is missing**.
**Logs:**
`Loading pages (1/6) [> ] 0% [======> ] 10% [==============================> ] 50% [============================================================] 100% QPainter::begin(): Returned false Error: Unable to write to temp location [======> ] 10% [==============================> ] 5

[2018-06-15 21:47] tlode commented on #2464
Thank you for looking into it.

I can't imagine that it depends that much on the exact setup. 3 years ago the issue could be reproduced on different macos'es, and on a debian server, too.

but it does not render the pattern at all... at least in my case

yes, I do

Good question :)

[2018-06-15 21:48] alloylab commented on #3959
If it works fine with the command line then you need to reach out KnpLabs/snappy regarding the php wrapper

[2018-06-15 21:49] alloylab commented on #2464
@tlode `<image src="test-pattern.svg">` was just a note to myself :)  I agree it doesnt render the pattern correctly

[2018-06-15 21:54] eherrera commented on #3959
OK. Thanks.

[2018-06-16 00:37] Gigex commented on #3646
I'm sorry, i don't really remember what this is about, but i guess i
managed since this was a while ago. Thank you for the help anyway!

On Fri, Jun 15, 2018 at 5:34 PM, alloylab <notifications@github.com> wrote:

[2018-06-16 02:47] #2329 closed

[2018-06-16 03:56] #3959 closed

[2018-06-16 03:57] #3646 closed

[2018-06-16 04:22] ashkulz commented on #3955
I've created a package for pcc64le -- see https://builds.wkhtmltopdf.org but can't confirm that it works, as I don't have access to the hardware. Please submit a PR to the wkhtmltopdf/qt repository if you need to patch Qt to get it working.

[2018-06-16 04:33] ashkulz commented on #3089
@poizan42: I'm currently working on porting wkhtmltopdf/packaging to work with 0.13, after which I'd like to incorporate the changes you made :+1:

[2018-06-16 04:44] ashkulz commented on #3309
The currently recommended approach is to use the wkhtmltopdf/packaging repository. Please open an issue there if you want to discuss it further.

[2018-06-16 04:44] #3309 closed

[2018-06-16 04:54] ashkulz commented on #2522
For reference, I've attached the diffs for [wkhtmltopdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2107880/wk_87a547e.diff.txt) and [qt](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2107881/qt_7e48a1fac7.diff.txt), instead of downloading the complete history.

[2018-06-16 10:13] hakimio commented on #3953
@ashkulz
This seems like a major issue. Any idea when this might be fixed?

[2018-06-16 11:28] ashkulz commented on #3953
Mid next week.

[2018-06-16 12:45] nicdnepr commented on #3792
No because it's old project
Is it solve in new version?

[2018-06-16 13:31] billharrelson commented on #3483
I'm wondering if there is any new information about this.  We have a situation where we have graphics that won't display unless we are using 13a (with the new QT), but then the links in the pdf become non-usable.  We have forced our clients to either have clickable links or see the graphs.  Can someone help with this?

[2018-06-16 14:41] Mindavi commented on #1524
I've installed the release and I think one of the edge cases where it doesn't work has to do with row spans. The text will still be placed behind the header of the page.

Attached is a zip with a script to generate the example file, the example html file and a pdf with the generated output.

[generated.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2108235/generated.pdf)
[script-and-html.zi

[2018-06-16 17:57] tomacadi commented on #3944
Hi, yes, I'll do my best to try and reproduce this. I'm learning docker at the moment through Lynda.com. I'll follow up with a test case.

[2018-06-16 20:07] SuperSeb92 commented on #3173
Nope, looks like it's resolved 👍

[2018-06-16 21:11] vedmant opened #3960 "How I can avoid page break between two specific rows?"
I have a table where two rows have linked data and I'd like to not have a page break between them. I tried to put that rows into separate `<tbody>` containers with `page-break-inside: avoid;` it didn't work, page-break-after or before doesn't work either.

I have html something like this:

    <table>
      <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>

[2018-06-16 22:41] hakimio commented on #3960
If it doesn't fit in one page, there is no way to force it to be in one page. Otherwise, it should work.

[2018-06-17 06:15] arjunsuresh opened #3961 "Segmentation fault with 12.5 on using quotes in CSS"
Hi, when I use
quotes: "\201C""\201D""\2018""\2019";
in my CSS the latest release is giving segmentation fault. 12.4 works fine here.

[2018-06-17 06:43] ashkulz commented on #3961
which OS/distro?

[2018-06-17 07:10] arjunsuresh commented on #3961
It is Ubuntu 18.04

[2018-06-17 07:11] ashkulz commented on #3961
Duplicate of #3945

[2018-06-17 07:12] #3961 closed

[2018-06-17 09:04] vedmant commented on #3960
@hakimio Yes, I have large table for 100+ pages, that's just an example, I have thousands of tbody blocks. The point is that it should not break this two rows inside `tbody` when I set `page-break-inside: avoid;` for `tbody`. But it breaks page between that rows anyway.

[2018-06-17 09:59] TarekAlQaddy commented on #3954
@PhilterPaper
I'm seeing the default font for arabic when importing the font.
No I haven't been able to make it work with locally installed fonts.
wkHTMLtoPDF version is: 0.12.3 (with patched qt).
Linux Ubuntu 64x v17.04
I'm running rails and there is no error in console.

For more illustration:
this is without importing the font
![image](https://user-images.githubusercontent.com/17699683/41506830

[2018-06-17 22:36] RichardNeill commented on #3416
Hi, yes I just tried it. It still fails. You can invoke the example very easily to see this: save test.txt as test.html,  then run wkhtmltopdf test.html out.pdf   and look for the "YES". You won't find it, but if you change the commented line for the previous one, it works.

Basically you need to be building this on a version of the underlying web-browser which is the same as in a chromium from 20

[2018-06-17 22:39] RichardNeill commented on #3416
Here's another test-case that fails totally:
wkhtmltopdf --javascript-delay 5000 "https://www.openstreetmap.org/#map=14/51.6876/-1.2223&layers=T" x.pdf

[2018-06-18 02:50] alloylab commented on #3173
Great! If you have any other issues please let us know.

[2018-06-18 02:56] alloylab commented on #3792
I would need a testcase to understand the issue and see

[2018-06-18 06:28] nicdnepr commented on #3792
OK I try to test it

[2018-06-18 06:47] salimhb commented on #1648
I just tested with [wkhtmltopdf 0.12.5 (with patched qt)](https://downloads.wkhtmltopdf.org/0.12/0.12.5/wkhtmltox-0.12.5-1.msvc2015-win64.exe) with the initial example (https://jsbin.com/degefunuvi/1/edit?html,css,js,output) and reproduced the same glitch.
[maptest-0.12.5.pdf](https://github.com/wkhtmltopdf/wkhtmltopdf/files/2110165/maptest-0.12.5.pdf)
[maptest-0.12.4.pdf](https://github.com/wkhtm

[2018-06-18 08:10] Mindavi commented on #3960
A solution to this is descibed [here](https://stackoverflow.com/questions/27753255/page-break-not-working-with-tbody-issue).

It basically comes down to tbody not being a block element, while page-break-inside only applies to block-level elements. There is a solution in there, but it isn't perfect.

[2018-06-18 08:17] badrange commented on #2710
Thank you for getting back. I only have 0.2.14 available here: I ran the test above and I got a pdf. Some of the javascript and css files are not available any more, so who knows. Let's keep this closed.

[2018-06-18 08:44] vedmant commented on #3960
@Mindavi Thanks for example, but solution with tbody:after doesn't work (jsfiddle.net/abhitalks/DTcHh/3054 still breaks page on the middle of second tbody screencast.com/t/M5pzpMEIJq0j), changing tbody display to block will break the table layout.

[2018-06-18 09:01] Mindavi commented on #3960
I don't think an easy solution to this problem can be found. I've heard of some people that used javascript to get everything correct (but have no idea how or where anymore). I'd really love to see a solid solution for this as well.

[2018-06-18 09:09] gowikel commented on #3960
I had the same issue and I didn't found a good solution to break a table, so at the end, we ended with a for loop that counts the number of printed rows. Each x rows (defined by a parameter), it closes the table, creates a div with a break table and opens the table again.

It is dirty, but it worked.

[2018-06-18 09:21] wildnano opened #3963 "wkhtmltopdf delete dotted pagination"
Hi,

I have added this option to get pagination in my pdf file
**$pdf->setOptions((['footer-center','[page]/[toPage]']));**
It works very well but I get something like that --1/ 2   ...  --2/2
I'd like to delete the both dotted lines. Can you help me.
Thanks

[2018-06-18 09:59] bhohbaum commented on #2522
thank you. the download location won't last forever....
i'll reactivate the qt and wkhtmltopdf repo in my github account, so i can send you proper pull requests in the future.
is there a documentation describing all the additional features that have been added? nobody will know about the css "print" feature for example, as it's not part of the css specification.
i'm having this _WKANCHOR thing in

[2018-06-18 10:06] empinator commented on #2647
same here.
Server and and developer machine create different PDFs. I know they do have a different list of fonts installed, but I can't figure out on how influence the font being picked.

[code]

Is there anything I can contribute to narrow down/solve this issue?
Right now, I don't know where to start, but inconsistency is a killer for any user experience (and development)

[2018-06-18 10:10] DiagonalArg commented on #2605
Looks good.  Thanks.

[2018-06-18 12:00] AndyCJ commented on #2301
Unfortunately I'm stuck using a library that's using the DLL rather than the CLI, and it's on V0.12.4, and so doesn't support the viewport option.

From what I've read in this thread I'm out of luck until the library upgrades to 0.12.5 and adds support for the viewport option.

But just in case, are there any other fixes for this issue?

I tried setting a meta tag for the viewport width, just in c

[2018-06-18 12:09] GipHub123 commented on #3939
wkhtmltopdf 0.12.5 (with patched qt)

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial
x86_64

Version 0.12.5 didn't fix the issue.

[2018-06-18 13:17] carrotsimon commented on #2517
@eiked Did you find a solution for this? I'm currently facing a very similar task. I need to rotate my output by 90 to fit on a label.

[2018-06-18 14:38] jaredmcateer commented on #3186
Hello, I've tested this with 0.12.5, the issue still exists exactly as described above.

[2018-06-18 15:47] Swiftkilla opened #3964 "CSS: Grid Template Display support"
Sorry if this has already been mentioned see below for example code:

The "layout 3x containers"
[code]
The "layout for the list items within 3x"
[code]
This (in Chrome browser) displays a grid with 3 total columns, with the specified widths as instructed ("25% 50% 25%").

I am combining that CSS with a ul/li to create responsive layouts for both webpages and also hopefully PDF's

Unfortunately, u

[2018-06-18 16:31] jonahbron commented on #1913
@alloylab Not sure, I haven't touched this system in ages.  But I know it's running, so I must have figured something out :)

[2018-06-18 16:31] #1913 closed

[2018-06-18 19:10] radio412 commented on #3937
@alloylab OSX dev environment, wkhtmltopdf 0.12.4 (with patched qt). Production environments are both OSX and Win.

[2018-06-18 22:02] sarahkemp commented on #3540
I am using Ubuntu 16.04, not CentOS. I'd be happy to try out a build but I don't know what to do with an RPM. I created an issue in wkhtmltopdf/packaging: https://github.com/wkhtmltopdf/packaging/issues/6

Thank you for trying this out, I know it's not the most common setup.

[2018-06-19 06:30] alexseif commented on #2785
I'm sorry I don't know, I can check later in the month though.
I worked around it, then.

[2018-06-19 07:30] Swiftkilla commented on #3964
Edit:
In the options class, there is a mistake that was only clarified after the post.
```'dpi': '300'```
Is the correct notation for this option value and key.

[2018-06-19 07:36] Swiftkilla commented on #3964
Also, stupidly missed out environment.

Ubuntu Xenial 16.04 using Python 3.6 wkhtmltopdf Library. (pdfkit).

[2018-06-19 08:37] esorribas commented on #3423
It's seems fixed, thanks

[2018-06-19 08:37] #3423 closed

[2018-06-19 11:36] Tomsgu commented on #3963
You should ask in a community around a wrapper you're using, not here.

[2018-06-19 11:59] Tomsgu commented on #3659
This is wkhtmltopdf not mpdf. Should be closed.

[2018-06-19 12:00] #3659 closed

[2018-06-19 12:13] Tomsgu commented on #3806
It seems like a duplicate of #1770

[2018-06-19 13:16] ashkulz commented on #3953
Can you check results of PR #3962 available from https://builds.wkhtmltopdf.org/0.12.6-dev/ and let me know if it works?

[2018-06-19 13:17] ashkulz commented on #3952
Can you check results of PR #3962 available from https://builds.wkhtmltopdf.org/0.12.6-dev/ and let me know if it helps things?

[2018-06-19 13:35] hakimio commented on #3953
@ashkulz Yes, it seems to fix the issue.

[2018-06-19 13:36] ashkulz commented on #3953
Great, I'll try to get the final release out by first week of July or earlier.

[2018-06-19 13:41] Tomsgu commented on #2678
Duplicate of #2029.

[2018-06-19 13:42] Tomsgu commented on #2679
Duplicate of #1524

[2018-06-19 13:54] Tomsgu commented on #2756
Duplicate of #1524.

[2018-06-19 13:56] Tomsgu commented on #2775
Possible duplicate of #1524

[2018-06-19 14:32] Tomsgu commented on #3164
It's because there is a difference between `wkhtmltopdf -h` and `man wkhtmltopdf`.

[2018-06-19 14:46] Tomsgu commented on #3447
Works fine in wkhtmltopdf 0.12.5.

[2018-06-19 14:59] remi-filament commented on #1524
Thank you all for your efforts, I am still facing an issue (even with latest version) when one of my row is longer than one page.

In that case the line breaks correctly at the end of the first page, but starts again on the top of the page (alhough after the page header), above (or under) the table header. Therefore the table header and the continuation of the table row are one above the other in

[2018-06-19 15:07] Tomsgu commented on #3701
wkhtmltopdf is not a magic. It doesn't know anything about your locale. It just get the given html, which is in your case in english.

Should be closed.

[2018-06-19 15:09] veljex commented on #3661
Try setting the viewport-size, it may be loading the mobile grid instead of desktop.

`wkhtmltopdf --viewport-size 1920x1080`

[2018-06-19 15:12] #3953 closed

[2018-06-19 15:13] #2529 closed

[2018-06-19 15:26] Tomsgu commented on #3934
@alloylab yes. I used the example provided by the author.

[2018-06-19 16:05] drewwatkins11 commented on #3661
I've been having these same problems with grid layout and can confirm that changing the viewport size does not solve this issue. This is using the newest version of wkhtmltox released earlier this month.

[2018-06-19 16:37] #3934 closed

[2018-06-19 17:24] cheapcontact opened #3966 "Segmentation Fault When Generating Document"
Here is the command that causes it:
/u04/wkhtmltox/bin/wkhtmltopdf --disable-smart-shrinking -L 13mm -R 13mm -T 15.4mm  -B 18.5mm  --footer-html  https://dev.surveyorhealth.com/dcls/PCP/ReportFooter  https://dev.surveyorhealth.com/debug/busted_report_html.htm PCPPCP680031529360688428.pdf

Here is my system info:
  Operating System: Oracle Linux Server 7.4
       CPE OS Name: cpe:/o:oracle:linux:7: